[2017-04-28 00:21] pwittrock opened #2 "Publish code generators as downloadable binary releases (.tar.gz)"

[2017-04-28 00:23] pwittrock opened #3 "Wrap code generators in a single command"
- It should detect most of the values for the flags
- Simple command to run all code generators
- Use GOPATH to detect flags

[2017-04-28 01:11] pwittrock opened #4 "Support TPR backed storage in addition to etcd"

[2017-04-28 01:12] pwittrock opened #5 "Create simple way to start server locally"
Makes sure all the certs are generated
Makes sure ~/.kube/config has the appropriate entries
Run the server with the correct flags (certs)

[2017-04-28 03:07] xiang90 opened #6 "support custom registry"
It seems that there is no way to provide custom registry. We current use generic registry by default.

can it be customized? probably we should provide a doc to show how to do it.

[2017-04-28 20:53] jimmidyson commented on #2
Should these binaries be published with Kubernetes releases?

[2017-04-28 21:25] pwittrock commented on #2
Do you mean as part of them?  Or off of the release branches?  Or at the same time as releases?

I imagine we would want a set of releases that track the Kubernetes releases (GA), but also support periodic releases during the dev cycle (Beta).  We will want to publish the apiserver-builder code gen binaries more frequently.

[2017-04-30 23:31] hongchaodeng opened #8 "example in docs/ is outdated"
This doc is oudated: https://github.com/kubernetes-incubator/apiserver-builder/tree/master/docs
- The example directory is outdated. We should point it into the example/ here.
- "Generate code" could be replaced by making use of the makefile under example/

Further improvements:
- It requires "minikube", which isn't necessary. Ideally we can make it in front of an etcd server.

[2017-05-01 20:41] xiang90 commented on #8
@hongchaodeng the minikube is for auth delegation. it is not really required to start a minimal apiserver. all you need is to

[code]

[2017-05-02 19:58] jimmidyson commented on #2
Seems a bit odd to publish releases of binaries not from the project where the source is... Perhaps these generators should be pulled out of core kube repo too?

[2017-05-03 19:09] xiang90 opened #14 "more user friendly tag format"
From @pwittrock

[2017-05-04 20:16] DirectXMan12 commented on #2
IMO, it seems fairly reasonable to have the generators live here (and ideally eventually have the main Kubernetes pull them in instead).

[2017-05-07 21:01] pwittrock commented on #2
As an interim solution I created:

https://github.com/kubernetes-incubator/apiserver-builder/releases/tag/v0.1-beta.1

[2017-05-08 03:46] #3 closed

[2017-05-08 03:46] pwittrock commented on #3
Included in latest release

[2017-05-08 03:48] pwittrock commented on #2
Marking this as closed.  Can open another issue for moving the codegenerators into a single repo.  It could be this one, but the code generators are much more mature than the rest of the code in this repo, and this would need to move out of incubator for that.  WDYT of revisiting this in 3 months?

[2017-05-08 03:48] #2 closed

[2017-05-08 03:50] pwittrock commented on #8
@hongchaodeng none of this is required anymore and all of that logic is encapsulated in `apiserver-boot`.  Will update the docs and then close this issue.  Should be much easier.

[2017-05-08 04:12] pwittrock commented on #8
@hongchaodeng Updated the docs to include the newest hotness.  Should be much simpler to get started now.  Next step will be simplifying starting a local server with or without delegated auth and automatically updating the .kube/config.

[2017-05-08 04:12] #8 closed

[2017-05-08 14:38] DirectXMan12 commented on #2
Seems reasonable.

[2017-05-08 22:09] #5 closed

[2017-05-08 22:09] #14 closed

[2017-05-08 22:09] pwittrock commented on #6
can you explain more about this usecase?

[2017-05-08 22:12] xiang90 commented on #6
this is already addressed.

[2017-05-08 22:12] #6 closed

[2017-05-08 22:14] xiang90 commented on #6
my use case is to bypass the standard kuberentes storage layer, which is used by the default registry. i want to use my customized storage API and its implementation.

[2017-05-08 23:07] pwittrock commented on #6
@xiang90 awesome, was wondering if that is what you were referring to

[2017-05-17 20:28] jimmidyson opened #37 ""No client certificate CA names sent""
Loving this project btw!

One problem I'm having is reusing the client certificate that minikube uses ootb. I don't think the API server is properly requesting client CA names for optional client certificates, even if `client-ca-file` flag is used.

Here's the command I'm using to start the API server (which works when using the bearer token provided btw):

[code]

and then running:

[code]

Using

[2017-05-18 01:16] pwittrock commented on #37
Hm, I don't know a whole lot about this.  My plan has been to wait until apiserver aggregation works ootb in 1.7 and minikube is using 1.7 before digging in too deeply to the integration.  However if you find a fix in the mean time would be happy to take it.

[2017-05-22 11:41] jimmidyson commented on #37
Don't suppose you've any idea where to start looking? in kubernetes/apiserver I guess?

[2017-05-22 15:51] pwittrock commented on #37
Hm.  Maybe start by running kubectl -v and seeing if it is requesting the proper headers or what it is doing.  Then I would try a different canonical version of Kubernetes (GCE using the up scripts?), and see if the apiserver works properly with that cluster.  I **think** I have gotten this working with GCE before.  Minikube runs in a vm and is setup a little differently than a standard cluster II

[2017-05-22 15:52] pwittrock opened #44 "Support running in aggregated mode using `apiserver-boot run --aggregated`"

[2017-05-22 15:52] pwittrock opened #45 "Support building a container including the server and controller binaries."

[2017-05-22 15:53] pwittrock opened #46 "Support `apiserver-boot run --aggregated --image=X` to run in cluster"
Support running the controller and apiserver as a Pod in a cluster through apiserver-boot

- run using services, deployments
- support dryrun flag to just print out the services and deployments

[2017-05-22 18:20] DirectXMan12 commented on #37
agreed -- I have a bit of experience with this stuff setting it up for service catalog, Heapster, custom metrics, etc.

Seeing exactly what kubectl is spitting out, as well as what the logs from the API server are, would be quite useful.  If that's not helpful, I can try and make sure everything's set up correctly in the generated code.

[2017-05-23 09:11] jimmidyson commented on #37
So here's the kube config being used by kubectl:

[code]

And the output from `kubectl`:

[code]

[2017-05-23 09:13] jimmidyson commented on #37
It's the `User \"system:anonymous\"` bit which indicates to me that the CN from the client cert isn't being used as the username. I'm assuming that's because the client cert isn't being sent at all, as the preview `openssl s_client` snippet indicated.

[2017-05-23 14:22] pwittrock commented on #37
Woot.  Thanks.

On May 23, 2017 6:55 AM, "Jimmi Dyson" <notifications@github.com> wrote:

[2017-05-23 21:08] #37 closed

[2017-05-30 18:02] pwittrock opened #52 "Change packaging of release to include the deps src as a sub-tar instead of directories"

[2017-06-14 10:23] ibazhitov opened #62 "Imported package "pkg/apis/apps/install" is not found"
The generated code references an inexisting package "pkg/apis/apps/install".
Reproduced with v0.1-beta.11, but the same holds for master.

$ apiserver-boot init --domain example.com
$ apiserver-boot create-resource --domain example.com --group apps --version v1 --kind Application
$ apiserver-boot generate
$ apiserver-boot build
$ go test ./pkg/...
pkg/client/clientset_generated/internalclientset/s

[2017-06-14 10:31] ibazhitov opened #63 "startApiServer() should use generated etcdPath instead of hardcoded one"
$ grep -r StartApiServer cmd/
cmd/apiserver/main.go:	server.StartApiServer("/registry/sample.kubernetes.io", apis.GetAllApiBuilders(), openapi.GetOpenAPIDefinitions)

The etcd path value should be generated, presumably from the API domain string.

[2017-06-15 01:24] pwittrock commented on #62
Interesting.  I am not sure why the generated code references that.  Does `go test ./pkg/apis/...` work for you?

[2017-06-15 01:33] #63 closed

[2017-06-15 08:36] ibazhitov commented on #63
Thanks!

[2017-06-15 08:48] ibazhitov commented on #62
Yes, all tests are working:

`
$ go test ./pkg/apis/...
?   	github.com/ibazhitov/xxx/pkg/apis	[no test files]
?   	github.com/ibazhitov/xxx/pkg/apis/apps	[no test files]
ok  	github.com/ibazhitov/xxx/pkg/apis/apps/v1	1.358s
$ go test ./pkg/controller/...
?   	github.com/ibazhitov/xxx/pkg/controller	[no test files]
ok  	github.com/ibazhitov/xxx/pkg/controller/application	1.310s
?   	github.com/iba

[2017-06-17 16:41] pwittrock commented on #62
Fixed this issue in the latest release, but still have some other compilation failures with the generated fakes...

[2017-06-20 15:46] pwittrock commented on #62
Still working on this...

[2017-06-21 00:17] MHBauer commented on #44
@pwittrock does this PR look like it has potential to partially migrate here? If not, maybe we can talk soon to discuss getting aggregation "built-in" to this builder.
https://github.com/kubernetes-incubator/service-catalog/pull/895

[2017-06-21 00:44] #62 closed

[2017-06-22 22:26] pwittrock commented on #44
Yeah it does.  Looks like there is already a PR for it?

[2017-06-22 22:37] #45 closed

[2017-06-22 22:37] pwittrock commented on #45
Completed

[2017-06-24 02:52] pwittrock opened #79 "Better error messaging for apiserver-boot"
- Check for tools before running commands - etcd, openssl, tar, cp
- Check that required commands are run before later commands - init before create-resource, build before run

[2017-06-29 05:33] #52 closed

[2017-06-29 05:33] pwittrock commented on #46
implemented as `apiserver-boot run in-cluster`

[2017-06-29 05:33] #46 closed

[2017-06-29 05:34] pwittrock commented on #44
Looks like we have both the command `apiserver-boot run in-cluster` and the guide explaining the details now.

[2017-06-29 05:34] #44 closed

[2017-06-29 13:49] ibazhitov opened #92 "Unexpected invocation of NewXxxKindREST() in controller during package v1.init()"
I've spotted that when defining a custom REST storage, its constructor is being called both from apiserver and controller-manager binaries (panic() is inserted manually in the code):
[code]

This happens because NewXxxRest() is called during package-level variable initialization in v1/zz_generated.api.register.go:

[code]

NewXxxREST() constructor may contain some other logic besides simply initia

[2017-07-06 19:53] pwittrock commented on #92
Interesting.  Adding some documentation seems like a good workaround for now.  We should try to decouple initializing the storage from the type definitions so that every client doesn't exercise this logic.

[2017-07-06 19:53] pwittrock commented on #92
@ibazhitov You interested in filing a PR?

[2017-07-07 07:57] ibazhitov commented on #92
OK, I'll create a PR with changes in the documentation.

[2017-07-07 08:09] ibazhitov commented on #92
I'll check whether this is possible.

[2017-07-13 13:33] ibazhitov commented on #92
On the first glance, replacing a direct call to `NewXxxREST()` in `v1/zz_generated.api.register.go` with a function pointer would do the trick.
Also, there's a mention of some mysterious `RESTFunc` in the definition of `versionedResourceBuilder`:

[code]

I haven't found other mentions of RESTFunc in git history though. Maybe there was some plan to actually replace `rest.Storage` with `RESTFunc` i

[2017-07-13 14:01] ibazhitov commented on #92
Tested this approach with #97, looks like it works.

[2017-07-13 16:13] #92 closed

[2017-07-13 17:59] pires opened #98 "Generate and register new storage backend"
This is a **feature request**.

Right now, `StartApiServer` flow is highly opinionated about a few things like the storage backend to be used (enforces `etcd`) or the options passed onto the _apiserver_. While this allows the apiserver to work out-of-the box rather easily, it limits more advanced scenarios, like implementing your own storage layer and easily point to it.

I suggest implementing a

[2017-07-14 07:53] ibazhitov commented on #92
Ugh, I should have closed #96 before submitting #97, sorry.
Now we have both bug fix and the workaround in the documentation merged.
@pwittrock, could you please revert #96 since we no longer need a workaround?

[2017-07-21 15:00] justinsb opened #106 "Generated docs have different node_modules"
I mentioned this in kops, but it's probably better to track it here.

After generating the API docs, there are some changes in the `node_modules`.

[code]

It just looks like different versions - I have older versions than the docs you generated:

ejs:

[code]

highlightjs:

[code]

jquery:
[code]

[2017-07-21 15:01] justinsb commented on #106
One possible thing I'm looking into, is that this was also in jquery:

[code]

Going to try updating my nodejs; I have

[code]

[2017-07-21 15:13] justinsb commented on #106
(Updating nodejs didn't fix it)

Another theory:  the pwittrock brodocs fork has a different package.json than upstream:

https://github.com/Birdrock/brodocs/blob/master/package.json
https://github.com/pwittrock/brodocs/blob/master/package.json

kops seems to have the upstream one: https://github.com/kubernetes/kops/blob/master/docs/apireference/build/package.json

Looking at package.json though,

[2017-08-02 00:15] pwittrock commented on #106
@justinsb I probably need to rebuild the brodocs docker container I use.

How were you using brodocs?  Was it through my docker container, or using the framework directly?

[2017-08-02 00:16] pwittrock opened #108 "Use stateful set for etcd instance used when running the server in-cluster"

[2017-08-06 16:13] pwittrock commented on #106
@justinsb Both should be valid choices.  apiserver-builder uses a docker container / image to run brodocs.  I just upgraded the container so it should be at the most recent version.

[2017-08-07 22:34] pwittrock commented on #98
@pires Would you be interested in implementing this?

[2017-08-08 10:45] pires commented on #98
Yes. I should be able to pick it up during the last couple weeks of August.

[2017-08-14 16:17] pwittrock commented on #106
Closing, let me know if this is still true.

[2017-08-14 16:17] #106 closed

[2017-08-24 19:02] pwittrock commented on #108
@vaikas-google This is a good one to get started with.

[2017-08-24 19:07] pwittrock opened #111 "Support for creating Initializers"
We should have a `apiserver-boot create initializer <name> --group <group> --version <version> --kind <kind> ` command to bootstrap an initializer for a given resource.

[2017-08-24 19:08] pwittrock opened #112 "Support for creating subresources"
We should support `apiserver-boot create subresource <name> --group --version --kind` to create the bootstrap code for a subresource.

[2017-08-24 19:09] pwittrock opened #113 "Figure out what valid group,version,kind patterns are and validate them in apiserver-boot"
We should figure out what the supported patterns for group version kind names are and make sure they are validated in `apiserver-boot create group version resource`

[2017-08-24 19:11] pwittrock opened #114 "Support validation and defaulting impl living in a separate package."
We should support validation and defaulting living in a separate package from the resource type definition using a comment-directive e.g.

// +resource:validationpackage:<go-package>

As part of this, some of the registration code probably needs to be moved around.  The end goal is to minimize the number of transitive dependencies when depending on the _types.go package.

[2017-08-24 19:11] pwittrock opened #115 "Audit wiring, make sure it is acceptable for running something for real"
Someone should really look at the generated wiring and give a stamp of approval.

[2017-08-24 21:16] pwittrock opened #116 "Convert command deps to use go libraries"
The `apiserver-boot` command depends on external tools being installed that we don't need if we just use go libraries to do the work:

- openssl
- cp

[2017-08-24 21:17] pwittrock opened #117 "vendor glide and etcd to include as part of the release tar"
We tell users they need to install glide, but we could just include it in the binary distribution.

[2017-08-25 19:27] vaikas-google opened #119 "Add support for arrays of types."
If in your resource definition you define a type:

type Foo struct {
   val1 string "`json...
   val2 string "`json...
}
and then use it say from the Spec

type SomeSpec struct {
   Foos []Foo
}

correct code on the unversioned type does not get generated. Work around is to use only basic array types and wrap the array of Foos as a struct and then use only basic arrays there.

[2017-08-25 23:09] pwittrock commented on #119
Fixed in #121

[2017-08-25 23:33] pwittrock commented on #119
Available in release [v0.1-alpha.11](https://github.com/kubernetes-incubator/apiserver-builder/releases/tag/v0.1-alpha.11)

[2017-08-25 23:33] pwittrock commented on #112
Available in release [v0.1-alpha.11](https://github.com/kubernetes-incubator/apiserver-builder/releases/tag/v0.1-alpha.11)

[2017-08-25 23:33] #112 closed

[2017-08-26 00:01] vaikas-google commented on #119
Fixed in #120

[2017-08-26 00:01] #119 closed

[2017-08-26 03:48] pwittrock opened #124 "Make using types from the types repo as fields work"

[2017-08-26 04:24] pwittrock commented on #124
Fixed in #125

[2017-08-26 04:52] pwittrock commented on #124
Fixed in v0.1-alpha.13

[2017-08-30 22:51] #124 closed

[2017-09-01 15:16] pwittrock commented on #108
Done

[2017-09-01 15:16] #108 closed

[2017-09-01 15:17] pwittrock opened #128 "Support installation through apt-get on ubuntu"

[2017-09-01 15:18] pwittrock opened #129 "Support installation through homebrew on mac"

[2017-09-06 18:25] metmajer commented on #129
@pwittrock: I've recently come across this fantastic project. If contributions are welcome, feel free to assign it to me and I'll look into it!

[2017-09-06 18:55] pwittrock commented on #129
Consider is assigned.  Just invited you as a collaborator, which allow me to *actually* assign it to you.

[2017-09-06 18:56] pwittrock commented on #117
Or better yet, include a simple way to check if they are installed and if not install them from within the `apiserver-boot` tool

[2017-09-06 19:43] metmajer commented on #129
Cool, thanks for bringing me on board!

[2017-09-08 19:17] metmajer commented on #129
@pwittrock, let's have a discussion over the scope of this issue after I've done some research.

Creating support for installation via homebrew involves creating a _formula_. A formula points to a specific source code archive and defines methods for _installation_ and _testing_. A formula can be part of the official [homebrew-core](https://github.com/Homebrew/homebrew-core) project, which allows c

[2017-09-09 13:44] metmajer commented on #128
Creating a .deb is one thing, but what are your plans with regards to distribution? Simplest solution would be to include the creation of .deb in our Makefile and append it as binary attachment to a GitHub release. What's your opinion, @pwittrock?

[2017-09-13 18:36] pwittrock commented on #129
@metmajer

I like the third approach.

The project is just in its infancy, so minimizing overhead and optimizing for making it easy to push lots of releases makes sense to me.  It is probably not worth creating another repo for the formula with the project at this stage.

[2017-09-13 18:38] pwittrock commented on #111
@vaikas-google You working on this?

[2017-09-14 10:04] metmajer commented on #128
@pwittrock I think it is useful and I'd suggest going with the simple solution. I just wasn't sure how the the kubernetes-incubator organization was set up and if they probably already have a deb repo or not. So, I'd suggest to integrate a build target in the project's Makefile that creates a .deb artefact in the project's `./bin` folder then.

[2017-09-14 17:46] pwittrock commented on #128
@metmajer That sounds great to me.  We are lucky to have you on board.

[2017-09-14 18:39] tamalsaha opened #144 "Support generating protobuf files"
We have a few cases where people wanted to create CRDs from Java code. I suppose having a proto file will make it possible to generate Java clients. Can this be supported?

[2017-09-15 08:17] go101 opened #145 "The format of output of "glide -v" has changed."
The "v" char is removed from the output now.

So [the code](https://github.com/kubernetes-incubator/apiserver-builder/blob/36f0ca1a0019ff6b241f8c2d2f36a5116d9611a5/cmd/apiserver-boot/boot/init_repo/glide.go#L52) here will cause error such as "must install glide  or later, was glide version 0.12.4-dev" etc.

[2017-09-15 15:22] pwittrock opened #147 "Support running locally in aggregated mode against minikube"
`apiserver-boot run local-aggregated` should start the processes locally, but create and aggregated config for a local cluster (e.g. minikube) that points the local cluster at the locally running processes.

[2017-09-15 21:43] #145 closed

[2017-09-18 08:27] yaxinlx opened #151 "client-gen tag format has changed - will need to be updated when updating the vendored client-gen"
Here is a failing log:
[code]

It looks `+genclient=[true]` should be replaced with `+genclient` instead now.

[2017-09-21 13:28] pwittrock commented on #151
How did you get this error?

[2017-09-21 13:47] pwittrock commented on #144
Not sure what you want to get out of CRDs.  Generating proto would be a good thing.

[2017-09-22 00:58] yaxinlx commented on #151
It is reported by the latest client-gen: https://github.com/kubernetes/code-generator/tree/master/cmd
when running `apiserver-boot build generated` for one apiserver-boot generated project.

[2017-09-22 20:16] pwittrock commented on #151
What is the version you downloaded?  The client-gen is vendored.  Are you currently experiencing this, or is it just to track needing to do this when we update the vendored code?

[2017-09-22 20:17] #147 closed

[2017-09-22 20:18] pwittrock commented on #147
Will be available in the next release

[2017-09-23 03:12] yaxinlx commented on #151
Ah, I didn't notice the tools are built-in in this project.

[2017-09-23 07:12] metmajer opened #153 ".tar.gz archives created by apiserver-builder-release have wrong architecture"
I am working on the creation of .deb and .rpm packages for the apiserver-builder project in #150. To have the project built via `make build`, I am using the following approach in the Makefile:

[code]

apiserver-builder-release uses `linux:amd64`, `darwin:amd64` and `windows:amd64` as default targets in [main.go](https://github.com/kubernetes-incubator/apiserver-builder/blob/master/cmd/apiserver-b

[2017-09-23 07:15] metmajer commented on #153
I have just verified that the same issue exists with the archives appended to the GitHub releases. It's a bug apiserver-builder-release.

[2017-09-23 12:45] yaxinlx commented on #151
btw, I downloaded `apiserver-builder-v0.1-alpha.15-linux-amd64.tar.gz` from releases, but always get the error `apiserver-boot: cannot execute binary file: Exec format error`. I doubt the binary files are not correct.

`apiserver-builder-v0.1-alpha.14-linux-amd64.tar.gz` is ok.

[2017-09-23 13:17] pwittrock commented on #153
@metmajer That is weird.  Someone else just noticed the same thing.

Must have introduced a regression at some point.  I suspect the issue is something in [this code](https://github.com/kubernetes-incubator/apiserver-builder/blob/master/cmd/apiserver-builder-release/main.go#L146).  If you feel comfortable, would you want to take a look?  Otherwise, I will try to take a look this weekend.

[2017-09-23 13:18] pwittrock commented on #151
@yaxinlx Thanks for noticing, it looks like there is an issue with the release script cross compiling.

#153 Will look into this over the weekend.

[2017-09-23 13:20] pwittrock commented on #153
The glide issue is one I was worried about.  :(  Have been wanting to vendor glide into the project and invoke it directly instead of through exec.  #117

[2017-09-23 18:23] metmajer commented on #153
Sure, let me have a look into it. I can't promise to have it fixed this weekend though.

[2017-09-23 19:32] metmajer commented on #153
@pwittrock there's logic related to creating golang binaries in [apiserver-builder-release/main.go](https://github.com/kubernetes-incubator/apiserver-builder/blob/8307b995acc65028c42d88cba21c16840e843b85/cmd/apiserver-builder-release/main.go) which I do not understand well enough yet. I fear that a fix of mine could introduce unwanted side effects.

A quick look shows that [Build](https://github.c

[2017-09-23 21:50] pwittrock commented on #153
@metmajer Yup pretty sure that is it.  Verifying now.  #155

[2017-09-23 22:02] #153 closed

[2017-09-23 22:02] pwittrock commented on #153
Uploading alpha .16 now.

[2017-09-23 22:04] pwittrock opened #156 "Double check that the executables were cross compiled in the release program"
run `file <file-name>` or a go-lib equivalent after completing cross compile and check the output to make sure they have the right architecture to prevent more regressions

[2017-09-23 22:04] pwittrock commented on #153
File #156 to prevent this in the future.

[2017-09-23 22:05] pwittrock commented on #153
[alpha.16](https://github.com/kubernetes-incubator/apiserver-builder/releases/tag/v0.1-alpha.16)

[2017-09-23 22:23] metmajer commented on #128
Resolved by #150. Feel free to close.

[2017-09-23 22:30] metmajer commented on #156
Just wondering if there's a go package that implements this functionality since `file` is not present across major Linux distros ootb.

[2017-09-24 14:12] pwittrock commented on #156
@metmajer Good point

[2017-09-24 14:13] pwittrock opened #159 "Support test library to bring up core control plane and setup the extension apiserver in aggregation mode"
Don't run the kubelet since doesn't work on all platforms

[2017-09-24 15:43] metmajer commented on #129
While debugging the homebrew formula, I came across the following issue:

[code]

I am wondering why go does not find the dependency package in the `vendor` folder where it resides? After all, isn't that the point of this directory? I am still quite new to go, but anyone in this round able to help out with an explanation? Thanks!

[2017-09-24 19:08] pwittrock commented on #128
Built and uploaded: https://github.com/kubernetes-incubator/apiserver-builder/releases/tag/v0.1-alpha.17

[2017-09-24 19:08] #128 closed

[2017-09-24 20:59] pwittrock commented on #159
Probably use [localkube](https://github.com/kubernetes/minikube/tree/e9795ca1a7cad533cfeddf328842d9fb77f18a1d/cmd/localkube).  May need to add a flag to select which pieces to run.

[2017-09-24 21:16] pwittrock commented on #128
@metmajer Do you have instructions for how one could use the .deb with `apt install apiserver-builder` `apt update apiserver-builder`?

[2017-09-24 21:30] pwittrock opened #161 "Support `apiserver-boot version`"
Support printing the version from apiserver-boot.

[2017-09-24 21:32] #113 closed

[2017-09-25 03:26] pwittrock commented on #129
@metmajer

I think your directory structure may be off.  Go expects the go to be under `$GOPATH/src/<go-package-name>`, so the package `github.com/kubernetes-incubator/apiserver-boot` should live under `$GOPATH/src/github.com/kubernetes-incubator/apiserver-boot`.

If your GOPATH is `/private/tmp/apiserver-builder-20170924-4536-bsljtb/apiserver-builder-0.1-alpha.17` then the apiserver-builder repo

[2017-09-25 06:56] metmajer commented on #128
Here's how it works:

[code]

[code]

An `apt update` would only update package information for those repos listed in `/etc/apt/sources.list`. An `apt upgrade` would then upgrade any previously installed packages if a newer version has been found. This only works if we set up our own apt repo.

For now, users would need to download and install a `.deb` via `apt install ./$release.deb`. This also w

[2017-09-29 11:13] metmajer commented on #129
Thanks for your feedback @pwittrock, I'll look into your suggestions!

[2017-09-29 15:29] pwittrock commented on #129
@metmajer FYI, I have been starting to do some work to integrate Bazel support for faster builds.  I also changed how the glide.tar.gz is done locally instead of through glide.  I've tested the changes quite a bit, but there is still a chance I broke something.

[2017-09-29 17:41] pwittrock commented on #129
FYI, i introduced building with bazel which is much faster once you have bazel installed.

[code]

[2017-10-02 23:06] pwittrock opened #173 "Use staging kubernetes for vendor instead of using glide"

[2017-10-02 23:08] pwittrock opened #174 "Support for test helper tools for manually doing scheduling and setting Pod status"

[2017-10-02 23:08] pwittrock opened #175 "Test tools for emulating nodes"

[2017-10-03 20:03] cliveseldon opened #176 "Const in Types not deep copied"
Tested with:
[code]

Then edited mytestkind_types.go
[code]
[code]

[2017-10-05 18:21] metmajer commented on #129
Awesome, I'll make sure this is also reflected in the Makefile. I'm quite a bit busy atm, but will follow up very soon.

[2017-10-06 08:58] piotrjaromin opened #178 "Additional fields for apiserver.yam (imagePullSecrets and serviceAccount)"
Hi, I have created pull request, below is description why I would like to have those changes:

Currently I'm unable to generate and deploy api server with just one command, because I'm using secured private docker registry and k8s cluster with RBAC enabled.

What solves problem for me is editing apiserver.yaml and adding ImagePullSecrets and ServiceAccount to apiserver deployment. But doing this m

[2017-10-11 14:55] pgayvallet opened #179 "Cannot implements rest.GetterWithOptions in custom REST storage"
Actually, starting the apiserver with a REST resource implementing GetterWithOptions with NewGetOptions returning a type registered in the scheme of the REST resource model will fail with the following error :
`error in registering resource: {resourcename}, no kind {GetOptionKind} is registered for version "v1"`

This is caused by the fact that when constructing the APIGroupInfo ( in `pkg/builders

[2017-10-12 17:48] pwittrock commented on #178
Merged the PR for this.  Closing the issue.  Thanks!

[2017-10-12 17:48] #178 closed

[2017-10-12 19:50] pwittrock commented on #178
https://github.com/kubernetes-incubator/apiserver-builder/releases/tag/v0.1-alpha.19

[2017-10-19 09:58] yaxinlx opened #186 "blank fields in "openssl req" subj argument will fail the command for older openssl versions."
It looks order openssl versions will throw errors if some fields in the `subj` arguments are blank.

https://github.com/kubernetes-incubator/apiserver-builder/blob/master/cmd/apiserver-boot/boot/build/build_resource_config.go#L182
https://github.com/kubernetes-incubator/apiserver-builder/blob/master/cmd/apiserver-boot/boot/build/build_resource_config.go#L196

The issue, https://github.com/minio/mi

[2017-10-21 00:45] pwittrock commented on #186
@yaxinlx Cool.  Want to file a fix?

[2017-10-21 03:49] pwittrock commented on #161
Done in .22

[2017-10-21 03:49] #161 closed

[2017-10-21 14:16] yaxinlx commented on #186
submitted a pr.

[2017-10-21 23:26] #186 closed

[2017-10-27 16:55] pwittrock opened #191 "Upstream `apiserver-boot build generated`"
Placeholder for kubernetes/code-generator#14

Also, see kubernetes/kubernetes#53524 for more context.

Upstream [apiserver-boot build generated]https://github.com/kubernetes-incubator/apiserver-builder/blob/master/cmd/apiserver-boot/boot/build/generate.go) to [kubernetes/code-generator](https://github.com/kubernetes/code-generator)

[2017-10-27 17:19] pwittrock opened #192 "Provide simple way to get all Kubernetes libs vendored"
User story: As a Kubernetes contributor, I want to be able to create a new project with the exact set of vendored libraries used by kubernetes/kubernetes at a given release and have those vendored libraries be managed by another tool.

Background: Go vendoring is hard.  Most vendoring tools automatically try to pick the set of transitive dependencies from the direct dependencies, but they often ha

[2017-10-27 17:25] pwittrock opened #193 "Provide binary release of code generators"
Placeholder for kubernetes/code-generator#15

We should provide binary releases of the code-generators so users can easily get the binaries for a specific Kubernetes release.

[2017-10-27 17:27] pwittrock opened #194 "Integration test framework that brings up control plane"
Placeholder for kubernetes/kubectl#87

We need a simple way to write integration tests against a control plane.

[2017-10-28 21:24] #151 closed

[2017-10-31 10:56] yaxinlx opened #196 "wrong code generated for type field of type "k8s.io/apimachinery/pkg/apis/meta/v1".Time"
In the resource types of my project, there are some fields of type  `"k8s.io/apimachinery/pkg/apis/meta/v1".Time`.
However, in the generated code, the type becomes `"k8s.io/apimachinery/pkg/apis/meta".Time`.
This causes the generated code fails to compile.

[2017-10-31 11:15] yaxinlx commented on #196
I must copy a `time.go` file from from `k8s.io/apimachinery/pkg/apis/meta/v1` to `k8s.io/apimachinery/pkg/apis/meta` folder to make it compile okay/

[2017-12-03 05:44] alok87 opened #198 "Custom authentication layer on the custom api server"
is it possible to build a custom api server authentication in the api server built from api server builder.
I want to authenticate the user using github and generate a token for him and authorize him for some actions.

[2017-12-14 14:53] mattmoor opened #199 "Leverage Bazel for openapi codegen, stop checking in generated code."
Looking through the sample, this seems to be using Bazel under the hood, but only for Go compilation.  It would be fantastic to enable folks to perform openapi codegen as part of the Bazel build (similar to how proto codegen works).

Ideally, this would enable folks who don't care about the project being `go get`-able to stop checking in code.

[2017-12-16 16:06] mattmoor opened #200 "Document external dependency management"
The generated code puts a `glide.yaml` in the root of the repo and clones the `apiserver-builder` `vendor/` directory, but `glide up` updates a lot of stuff and `apiserver-boot run in-cluster` stops working.

I'm trying to include some additional stuff to talk to Google services via `google-api-go-client`, but can't figure out the best way to pull that in without disturbing the nicely laid out bas

[2017-12-16 16:08] mattmoor commented on #200
@pwittrock Any pointers?

[2017-12-16 22:33] pwittrock commented on #200
@mattmoor I am OOO for the rest of the year.  Lets sync up in 2018

[2017-12-16 22:33] pwittrock commented on #200
Try deleting glide, and adding a new one that ignores all the vendored stuff.

[2017-12-17 20:18] mattmoor commented on #200
LOL ok, I thought we were meeting tomorrow? :)

[2017-12-19 05:15] eleanore0102 opened #201 "re-generate BUILD file for dependencies under vendor"
when initialize the project with `apiserver-boot init`, it will copy over the vendor directory from apiserver-boot to the initialized project.

Notice that, the dependencies under vendor from apiserver-boot have BUILD file manually added (maybe not manually added? then can you please share how you generate them?)

that means, if I use dep ensure, it will wipe off the vendor directory, and re-downl

[2017-12-19 05:17] eleanore0102 commented on #201
@pwittrock Any suggestions?

[2017-12-20 18:43] mattmoor commented on #200
IDK if it is possible to have it ignore other vendored stuff: https://github.com/Masterminds/glide/issues/579 :(

[2017-12-20 20:46] mattmoor commented on #200
I was able to get it to build by fetching it onto my `GOPATH`.

This is an ok band-aid, but I'd still like to have a command to put `vendor/` into a good state.  LMK if you have any suggestions (given the above issue), but no rush.

Have a good holiday!

[2017-12-21 00:48] peterj opened #203 "Replace Glide with Dep when running init"
Are there any plans to replace the `glide.yaml` creation [here](https://github.com/kubernetes-incubator/apiserver-builder/blob/master/cmd/apiserver-boot/boot/init_repo/glide.go) with `Gopkg.toml` creation? Or perhaps add support for it if not replacing it?

[2017-12-29 02:27] DuoyueBa opened #204 "dependents are not deleted when Owner object is delete"
I created two kinds of resource: Api and ApiDescription, and ApiDescription depends on Api. My requirement is that ApiDescription is deleted when related Api is deleted. I add OwnerReference configuration in ApiDescription to refer to Api.

The following is ApiDescription yaml file:
apiVersion: aura.oracledx.com/v1alpha1
kind: ApiDescription
metadata:
  name: api-example-v1.1.0
  labels:
    api.o

[2017-12-31 03:13] WIZARD-CXY opened #205 "RBAC enabled minikube cluster don't with addon apiserver"
I followed the guide https://github.com/kubernetes-incubator/apiserver-builder/blob/master/docs/running_in_minikube.md to set things up. Only with I started minikube with `minikube start --extra-config=apiserver.Authorization.Mode=RBAC`
Then I can list pod but not list my self-defined resources,  the logs shows

[code]

I wonder why and how can I fix it, thanks in advance @pwittrock

[2018-01-03 16:08] DirectXMan12 commented on #205
Looks like something hasn't set up delegated auth checking correctly.  Looks like we pass `authentication-skip-lookup` when running with minikube, which means that our API server isn't going to check the central API server for authentication certs.  This was probably don't because minikube didn't/doesn't populate certificates correctly.  I haven't checked it in a while, but if it still doesn't, it

[2018-01-03 18:30] DirectXMan12 commented on #203
replacing is probably unlike unless other parts of Kubernetes move to `dep` (I suspect they might eventually, but that might be a while out).  Support for `dep` in addition to `glide` is probably more acceptable at the moment, although I'll defer to @pwittrock for more guidance.

[2018-01-05 01:59] WIZARD-CXY commented on #205
Yeah, I agree. I removed the `authentication-skip-lookup` flag manually and it now works

[2018-01-06 11:26] WIZARD-CXY opened #206 "Add-on apiserver doesn't have admission control plugin"
I look through the code, looks like we don't have admission controllers like namespacelifecycle https://kubernetes.io/docs/admin/admission-controllers/#namespacelifecycle supported in add-on apiserver for now.
I wonder if it is possible to add it?

[2018-01-06 11:50] WIZARD-CXY commented on #206
![admit nil](https://user-images.githubusercontent.com/2142864/34639412-e3a39b18-f31a-11e7-924f-db038d2bb0d9.png)
Now the admit is nil

[2018-01-07 15:31] alok87 opened #207 "[Question] How to use apiserver builder with custom auth"
Want to use this to generate a standalone apiserver with custom auth. How to do that?
Where to make changes in code to do that...

[2018-01-08 02:53] WIZARD-CXY commented on #207
You may start by this doc https://github.com/kubernetes-incubator/apiserver-builder/blob/master/docs/concepts/auth.md

[2018-01-08 04:11] alok87 commented on #207
@WIZARD-CXY I have to write my own authorizer, authenticator and it is not going to be aggregated with kubernetes api server. I think this will require code change.  Not sure how the above doc will help in this case

[2018-01-09 06:10] WIZARD-CXY commented on #207
ok then too fancy

[2018-01-10 15:55] DirectXMan12 commented on #205
@pwittrock we should drop that, assuming minikube sets things up correctly now (if they don't, we should get on their case to do that, because it's really inconvenient).

[2018-01-10 15:57] DirectXMan12 commented on #207
The custom API servers built by this tool are mainly intended to be aggregated API servers that authenticate and authorize against a main Kubernetes API server.  That being said, it should be possible to enable a webhook authorizer and authenticator via the normal flags (IIRC), assuming you can implement your custom auth as a webhook.

[2018-01-16 00:55] pwittrock commented on #201
You can use gazelle to regenerate the BUILD files.  Alternatively, you can run init again to recopy over the deps.

[2018-01-16 00:55] #201 closed

[2018-01-16 00:57] pwittrock commented on #203
In the default case it doesn't even use glide.  It just copies the deps over from a directory.  The right solution here is probably for Kubernetes to come up with a way of exporting all of its transitive dependencies in a way that makes them easy to get.

[2018-01-16 00:57] #203 closed

[2018-01-16 00:59] pwittrock commented on #204
Are you running Kubernetes 1.9.0 or higher?

[2018-01-16 01:00] #207 closed

[2018-01-17 17:34] medinatiger commented on #176
@pwittrock, any hint?

[2018-01-18 00:32] mattmoor commented on #199
I'd love to see this happen, but am doubtful I'll have the cycles to do so.

[2018-01-18 00:36] mattmoor commented on #200
We moved [our starter fork](https://github.com/grantr/helloworld-crd) of `k8s.io/sample-controller` over to using `dep` and it works pretty well (even with Bazel).

@grantr did this for us, and IIUC it was mostly just `dep init` and `dep prune`.

For adding dependencies and whatnot, we added `./hack/update-deps.sh`.

[2018-01-18 01:10] pwittrock commented on #176
@medinatiger Yes that is a known issue.  If it is blocking you I will plan on fixing it next week.

[2018-01-18 19:34] pwittrock commented on #176
Added a work around in #208.  You probably don't want the consts copied, and instead want both the versioned and unversioned types to reference a single const.

[2018-01-18 19:38] #176 closed

[2018-01-18 19:39] pwittrock commented on #176
Note, this approach also means you don't need to regenerate code when you update the const values.

[2018-01-22 03:27] pwittrock commented on #204
This was a Kubernetes issue in 1.8

[2018-01-22 03:27] #204 closed

[2018-01-22 03:28] pwittrock commented on #196
This should be fixed now.  Let me know if it isn't

[2018-01-22 03:28] #196 closed

[2018-01-22 03:28] #193 closed

[2018-01-22 13:39] WIZARD-CXY commented on #205
@pwittrock I just use minikube, I don't quite know about where controller-manager is running in minikube.The whole reproduce procedure is in the first message I sent in this issue.

[2018-01-22 22:37] tamalsaha opened #215 "Make apiserver-builder a purely development time tool"
I am trying to learn how to build an EAS. I am trying to understand the differences/similarities between sample-apiserver and apiserver-builder project. I like the apisever-builder approach as it makes the whole process easier to understand and follow. Currently the generated apiserver by apiserver-builder depends on some `helper` code from this project. Can the apiserver-boot be modified such tha

[2018-01-23 03:07] yaxinlx commented on #196
@pwittrock
confirmed, it is fixed. Thanks!

[2018-01-25 05:17] resouer opened #216 "Enable the aggregator layer but failed to auth from outside the cluster"
I was basically reproducing https://github.com/luxas/kubeadm-workshop#deploying-a-custom-metrics-api-server-and-a-sample-app.

Everything works in the cluster.

But when I try to use kubectl from outside cluster, there's auth problem.

1. [Done] Generated keys for apiserver in `/etc/kubernetes/ssl`.
2. [Done] Enabled the aggregator layer by modifying manifests in `/etc/kubernetes/manifests`
3. [Do

[2018-01-25 18:55] resouer commented on #216
@DirectXMan12 Mind to take a look at this issue?

[2018-01-25 19:06] DirectXMan12 commented on #216
You can't give roles to others that you yourself don't already have, otherwise that would be a method for escalation.  Make sure that you yourself have sufficient privileges to do the required operations (or perform the create as an admin user).

[2018-01-25 19:06] #216 closed

[2018-01-25 19:08] DirectXMan12 commented on #216
https://github.com/kubernetes/kubernetes/blob/3b391c87e8bd8284c26ed87cd497292fc060c578/pkg/registry/rbac/validation/rule.go#L67

[2018-01-29 19:12] krousey opened #217 "Apiserver builder generates code that doesn't compile"
This happened because we have a "cluster" API group with a "cluster" type in it. The first 3 compilation errors are because parameter names are shadowing imported package names. e.g.:

[code]

And the second compilation error is because the group client interface and the cluster type interface are both names `ClusterInterface`. This doesn't happened in the version client because the group package

[2018-01-29 19:13] krousey commented on #217
What uses the internal client? Can we omit that? AFAIK the internal types are just a hub for conversion code in the API server and no one should be using it to communicate.

[2018-01-30 18:00] krousey commented on #217
@pwittrock any idea on a quick fix for this? Can we just delete that code? What uses it?

[2018-01-30 20:27] pwittrock commented on #217
I suspect this is an issue with the client generator command in https://github.com/kubernetes/code-generator.  Added a flag to disable generating unversioned clients in the latest release.  (v1.9-alpha.2) so that you don't run into this error.

[2018-01-30 20:27] #217 closed

[2018-02-01 01:47] furykerry opened #220 "apiregister-gen not respects strategy tag"
Version: version.Version{ApiserverBuilderVersion:"v1.8-alpha.27.1", KubernetesVendor:"1.8.1", GitCommit:"c99ca7ebe533a7318338f3047edb498bb797d85e", BuildDate:"2018-01-22-08:00:51", GoOs:"darwin", GoArch:"amd64"}

apiregister-gen does not respect the strategy tag as in follows:
// +resource:path=Myresource,strategy=Mystrategy

APITemplate in the versioned_generator and unversioned_generator all use

[2018-02-03 03:52] pwittrock commented on #215
I'd rather upstream the libraries than have them generated.

[2018-02-03 03:52] #215 closed

[2018-02-03 03:53] pwittrock commented on #220
@furykerry Nice catch.  We should probably just delete that tag.  I think this it is very useful.

[2018-02-03 03:54] pwittrock opened #221 "Use strategy tag when generating code"

[2018-02-03 03:54] pwittrock commented on #221
Address #220

[2018-02-03 03:54] #220 closed

[2018-02-09 11:06] furykerry commented on #221
I prefer to modify the api template in unversioned_generator.go and versioned_generator.go. The following patch works for our cases, and I will submit my patch after some more tests

` // +k8s:deepcopy-gen=false
-type {{.Kind}}Strategy struct {
+type {{ $api.Strategy }} struct {
        builders.DefaultStorageStrategy
 }

 // +k8s:deepcopy-gen=false
-type {{$api.Kind}}StatusStrategy struct {
+type

[2018-02-12 17:48] pwittrock commented on #221
SGTM!

[2018-02-15 02:55] tamalsaha commented on #215
That sounds even better. I found the QueueWorker and Default** implementations for interfaces useful.

[2018-02-22 22:21] krousey opened #223 "Separate pkg/test's Ginkgo dependency to make it possible to not vendor Ginkgo"
In an effort to convert the generated Ginkgo tests to Go's standard unit test framework (https://github.com/kubernetes/kube-deploy/pull/622) for the cluster API, we found that we can't entirely remove Ginkgo from our vendor tree because `pkg/test` includes a trivial `NewLineReporter` that needs Ginkgo types. Because we need `pkg/test`'s functionality for spinning up ETCD and our apiserver, we will

[2018-02-24 01:57] klustria opened #224 "[Question] How to access other resources from Validate()"
I would like to find the existence of another custom resource in this API-Server in Validate() method to determine whether to return success or not. Basically, my goal is that when I create a FOO custom resource which has a spec field of BarName, I would like in the Validate() method to 1st verify if a BAR custom resource with a name similar to spec BarName already exist. Is there a way to do this

[2018-02-24 02:13] klustria commented on #224
Theoretically, it looks like I can create a clientset with InClusterConfig and then be able to get the custom resource, but this will only work when deployed in a k8s Cluster and will fail when ran locally. Is there a way to access the store directly from validate?

[2018-02-26 06:52] klustria commented on #224
Unfortunately, I also can't seem to create a clientset from Validate command in <Custom Resource>_type.go. when I import these:

	"github.com/aura/go-events-broker/manager/pkg/apis/auraevents"
	"github.com/aura/go-events-broker/manager/pkg/client/clientset_generated/clientset"

to be able to get the clientset, it complains about import cycle. Any other suggestions to make this work?

[2018-02-27 07:58] ichekrygin commented on #205
Hi, it looks like I am hitting the same issue:
[code]

[code]

Initially, controller reports, which I assume is expected, until new `APIService` is registered
[code]

However, after 10-30 seconds (depending on `VBox` mood), `couldn not find` error is replaced by `is forbidden`, even though the new `APIServer` is returned by
[code]

Further attempts to provision the instance types are failing (expe

[2018-02-27 19:36] DirectXMan12 commented on #205
@ichekrygin have you removed the `authentication-skip-lookup` flag?

[2018-02-28 00:21] ichekrygin commented on #205
@DirectXMan12 No, I don't think so. To start apiserver and controller I ran (per docs):
[code]

[2018-03-01 16:06] DirectXMan12 commented on #205
you'll need to do that, then

[2018-03-01 18:15] klustria opened #225 "What's causing: forbidden: User "system:anonymous" in some Cloud Providers"
I deployed API-Server to Google's Managed GKE and Oracle's OCI via Terraform with Unmanaged k8s. The behavior on both these providers are exactly the same. Deploying through Helm would not succeed until adding a ClusterRole like this:

kubectl create clusterrolebinding add-on-cluster-admin --clusterrole=cluster-admin --serviceaccount=kube-system:default

Once the API-Server is deployed and running

[2018-03-03 06:28] pires commented on #225
Most probably you have RBAC enabled, which means that, by default, your cluster won't allow full, unprivileged access any more.

[2018-03-03 06:30] klustria commented on #225
Any suggestions on what can be done?

[2018-03-03 06:34] pires commented on #206
Admission-controller plugins, like many other things, are specific to `kube-apiserver`. That's where you should hook your customized plugins.

[2018-03-03 14:58] klustria commented on #225
After reading this:

https://kubernetes.io/docs/admin/authentication/#anonymous-requests

then I tried this:

kubectl create clusterrolebinding cluster-system-anonymous --clusterrole=cluster-admin --user=system:anonymous

and it solved the problem.

[2018-03-03 14:58] #225 closed

[2018-03-06 15:36] klustria opened #226 "[Question] How to use another database/custom storage to replace ETCD"
Would like to get tips on how to implement using another database to replace ETCD.

[2018-03-06 21:11] klustria commented on #226
According to this link: https://kubernetes.io/docs/concepts/api-extension/custom-resources/#should-i-add-a-custom-resource-to-my-kubernetes-cluster, you can use Custom Storage for aggregated API - " If you need storage with a different performance mode (for example, time-series database instead of key-value store) or isolation for security (for example, encryption secrets or different".

Would app

[2018-03-08 09:18] woodliu opened #228 "【bug】wrong description in apiserver-builder/docs/concepts/auth.md"
in section Client Certificate Authentication,there are some words:
"By default, a main Kubernetes API server configured with the --client-ca-file option automatically creates a ConfigMap called extension-apiserver-authentication in the kube-system namespac"

but according to https://kubernetes.io/docs/reference/generated/kube-apiserver/, extension-apiserver-authentication shoud be generated by --p

[2018-03-15 16:30] DirectXMan12 commented on #228
If you look closely in that documentation, you'll notice that it says `requestheader-client-ca-file` is used.  If you look at the code, you'll see that `client-ca-file` is also used.  If at least one of those is present, then the ConfigMap will be created, since the purpose of the configmap is to communicate the CAs used to validate RequestHeader auth and *normal* client cert auth.

[2018-03-16 08:33] woodliu commented on #228
@DirectXMan12 i have noticed that, i just want to reject myself.thank you for your reply,the documentations are very good for the beginner!

[2018-03-16 08:33] #228 closed

[2018-03-17 11:20] anubhakushwaha opened #230 "Spelling error"
Minor spell check required [here](https://github.com/kubernetes-incubator/apiserver-builder/blob/master/README.md#step-by-step-example) , it should be commits

[2018-03-22 09:16] AkihiroSuda opened #233 "compilation fails due to case sensitivity"
I tried to follow the tutorial of https://github.com/kubernetes-incubator/apiserver-builder/blob/cee53b80d654afe23943b2d7ca9611682ca3d3db/docs/tools_user_guide.md, but compilation failed because of case sensitivity (`AkihiroSuda` vs `akihirosuda`)

[code]

I'm not sure why the builder tries to lowerize my GitHub name.
Is this intentional behavior or a bug?
Is there any workaround?

[2018-03-22 09:23] AkihiroSuda commented on #233
I found this is reported in https://github.com/kubernetes/code-generator/issues/20

[2018-03-23 01:17] #230 closed

[2018-03-23 01:19] pwittrock commented on #233
Thanks.  Closing as a duplicate.

[2018-03-23 01:19] #233 closed

[2018-03-23 06:13] klustria commented on #98
Any updates on this? Is this kind of related to this issue/question I posted: https://github.com/kubernetes-incubator/apiserver-builder/issues/226 ?

[2018-03-23 12:46] pires commented on #98
Yes it is. And I think I can spare some cycles in the next couple months for this.

[2018-03-23 18:16] roberthbailey opened #234 "Generated code for api registration assumes that all resources have a spec/status"
There are many "data-only" types in Kubernetes that are not operated on by controllers (storageclasses, configmaps, secrets, etc) that do not contain a spec and status but are rather just a typed blob of data. I'm trying to add a new such type into the cluster api (see https://github.com/kubernetes/kube-deploy/issues/529) but the generated code for the type creates functions that expect a Spec/Sta

[2018-03-23 19:25] klustria commented on #98
Appreciate your response. If you don't mind, can you give me an overview of what you intend to do. Details would be good too. I'm trying to look around for any links that can provide me ideas how to implement but I can't seem to find any. If you have any of those, would appreciate if you can share it with me. I've been trying to look for this topic to justify the use of API-Server aggregation in o

[2018-03-24 19:01] klustria commented on #98
As I'm reviewing the k8s.io/apiserver code, it looks like storage.Interface is the one used for implementing the storage. pkg/registry/generic/NewRawStorage() is the one that instantiates the actual storage. However from looking at factory.Create in NewRawStorage(), it looks like it only supports ETCD and ETCD3. Unless my understanding is wrong, etcd seems to be hardcoded into the apiserver code w

[2018-03-24 19:13] pires commented on #98
Not really, @klustria. While, conceptually, supporting a different storage engine makes sense, the fact is [`kubernetes/apiserver` library](https://github.com/kubernetes/apiserver/tree/master/pkg/storage) is very opinionated about using etcd.

But [here's an idea](https://github.com/kubernetes/features/issues/172#issuecomment-337324147). There's a related gdoc link in the same comment and it might

[2018-03-24 20:21] pires commented on #98
It seems the [metrics-server](https://github.com/kubernetes-incubator/metrics-server) proves it can be done! In this case, metrics are stored in-memory and no etcd is involved.

[2018-03-28 23:16] #221 closed

[2018-04-23 04:22] keshin opened #236 "[Question]How could I know if the intention is for create, update or delete when Reconcile called"
I tried this tool, the code structure is very clear and easy to understand, while I have question when Reconcile of Controller get called.
1. How could I know if is for creating, updating or deletion when the Reconcile get called?
2. If it is updating, how could I get the old value/instance of the resource?

The reason I ask is my controller needs to go different approach with another service in c

[2018-04-27 16:14] pwittrock commented on #236
You really don't want to do this because events maybe batched together.  e.g. a reconcile may see the results of a create and 2 updates.

[2018-04-27 16:14] #236 closed, assigned to nobody

[2018-05-07 14:48] damongant commented on #198
Since you're never supposed to directly call the custom apiserver, all requests pass through the authentication layer (e.g. RBAC) you have set up on the kubernetes-apiserver, so you could set up role bindings there.

[2018-05-07 14:50] damongant commented on #156
It does indeed:

https://golang.org/pkg/debug/elf/
https://golang.org/pkg/debug/pe/

[2018-05-22 12:57] keshin commented on #236
@pwittrock , According to the description of controller in https://kubernetes.io/docs/user-journeys/users/application-developer/foundational/#section-3

Consider the cases of below:
1. my case needs to have different action for create or update, how could I distinguish that in Reconcile
2. Every time I restart/redeploy the controller, it will pick all of the processed resources into OnAdd func aga

[2018-05-24 12:06] tamalsaha opened #241 "Version for Kubernetes-1.10"
Hi,
Can you please release a version for Kubernetes-1.10 release? Also, is kubebuilder supposed to superseded this tool or kubebuilder is for CRDs and this one is for EAS-es?

Thanks.

[2018-05-24 14:47] jessfraz opened #242 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-25 20:38] devdattakulkarni opened #243 "Kind name Plurals incorrectly handled"
I created a Kind that ends with an 's' as follows:

apiserver-boot create group version resource --group groupname --version v1alpha1 --kind Postgres

Then tried to build executables:
apiserver-boot build executables

And got following error:
pkg/controller/sharedinformers/zz_generated.api.register.go:54:37: si.Factory.Groupname().V1alpha1().Postgres undefined (type "github.com/../../pkg/client/in

[2018-05-31 07:34] shashidharatd commented on #243
I too faced this issue. Api object naming is very crucial and we had to opt for workaround and is not an ideal situation.

[2018-05-31 13:37] damongant commented on #243
ref: https://github.com/kubernetes-incubator/apiserver-builder/blob/master/cmd/apiregister-gen/generators/controller_generator.go#L66

[2018-06-02 06:43] McCodeman opened #245 "Watches use separate queues which could cause race conditions in Reconcile()"
**TL;DR**
Watches enqueue calls to `Reconcile()` on a separate queue than the primary controller work queue. This could allow simultaneous updates to a resource causing a race condition in the `Reconcile()` function. Is there a reason that the event handlers associated with a watch (informer) would not enqueue onto the controllers primary work queue in order to serialize state changes?

**Scenario

[2018-06-06 11:51] schittler opened #246 "Add readiness/liveness probe to generated deployments"

[2018-06-07 08:10] ghuntley commented on #225
@klustria that command you have executed uplifts all anonymous requests to super-admin level access.  If this instance is publically running your probs hacked by now. :/

https://twitter.com/GeoffreyHuntley/status/1004636307828629504

[2018-06-07 10:04] damongant commented on #225
Well, sort of @ghuntley

This is concerning RBAC, not access to kubectl. The externally reachable apiserver endpoint has some [other authentication mechanism](https://kubernetes.io/docs/reference/access-authn-authz/controlling-access/#authentication) (usually TLS client certificates, but things like OIDC are possible too). RBAC is an additional layer of security that many clusters don't even use.

[2018-06-07 16:15] klustria commented on #225
Appreciate the discussion still ongoing around this topic. I know that above approach I did is just a workaround and since we are not in production, I'm using it to get us going. @damongant, what exact flags from https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/ did you use exactly to make this work for you?

[2018-06-07 16:19] damongant commented on #225
apiserver:
[code]

[2018-06-07 16:28] damongant commented on #225
Yes

[2018-06-07 16:33] klustria commented on #225
Thanks I will try it out. The challenge of course is if you are working with Managed Kubernetes Clusters where you would have little to no ability to change the flags for the APIServer. If I recall, GKE has this issue too and I'm not sure if these flags can be set there. Currently, I'm using Unmanaged Cluster via terraform so I can try out those flags to see if it will work for me.

[2018-06-11 07:54] markusdresch commented on #225
i managed to create a workaround by applying this yaml:

[code]

this way logs, exec and attach work and the api server doesn't expose any information, so this isn't as permissive as AllowAll. any drawbacks?

[2018-06-12 13:29] tkashem opened #247 "controller error - the server could not find the requested resource"
After going through the steps outlined in `https://github.com/kubernetes-incubator/apiserver-builder/blob/master/docs/running_in_cluster.md` I am seeing the following errors from the controller instance.

[code]

The apiserver and etcd instances seem to be up and running.
Output of `kubectl version` is shown below
[code]

`kubectl api-versions` does not list my extented type. I used the following

[2018-06-12 13:33] damongant commented on #247
Check the output of `kubectl describe apiservice v1alpha.widget.com`, the status field should give you a hint.

[2018-06-12 15:20] tkashem commented on #247
Thanks a lot, I was able to solve the issue. After running the above command the `status` field reflected the root cause.
[code]

I had made some changes to `config/apiserver.yaml` file to get the `apiserver` pod running - For example I had to change the default binding port from `443` to `--secure-port=6443` because `apiserver` container threw a 'permission denied - cannot bind to 443` error.

Bu

[2018-06-17 00:50] devdattakulkarni opened #248 "Subresources on 'existing' Kinds"
We had a requirement where we wanted to use custom subresources on existing Kinds such as Pods. An example of this is the custom metrics (https://github.com/kubernetes/metrics).

We tried to use apiserver-builder for our use-case but it did not work. It looks like with apiserver-builder we can create subresources only on a Custom Resource that is first created using apiserver-builder.

I was wonde

[2018-06-18 15:44] DirectXMan12 commented on #248
You basically need custom/hacked-up API installation logic to handle this (that's what we do in the custom-metrics-apiserver builder).  It's... non-trivial, and generally somewhat specific to the particular use case (do you want to work as an aggregated API server?  If so, how are you representing group-versions?  What subresources do you want available, and how are you exposing them?)

[2018-06-19 17:07] klustria commented on #225
Hi @damongant, I added:

      --requestheader-client-ca-file=/etc/kubernetes/ssl/ca.pem
      --requestheader-allowed-names=aggregator
      --requestheader-extra-headers-prefix=X-Remote-Extra-
      --requestheader-group-headers=X-Remote-Group
      --requestheader-username-headers=X-Remote-User

into the K8s Masters Core APIServer and I'm still getting the same issue:

```Error from server (For

[2018-06-20 08:07] yaxinlx opened #249 "[Question] How to specifiy short names for a resource?"
[The docs](https://github.com/kubernetes-incubator/apiserver-builder/blob/master/docs/concepts/aggregation.md) mentions a resource can have shortNames, but I didn't found a way to do this in code.

[2018-06-26 09:30] damongant opened #250 "Controller: Access Controller from ControllerImpl"
Is there a way to access the controller from the implementation? There's some things we'd want to do:

* Set AfterReconcile for error handling
* Requeue elements that failed due to downstream service failures

[2018-07-06 12:14] mlushpenko opened #251 "apiserver-boot must be run from the directory containing the go package to bootstrap."
can't finish the installation, probably an easy fix, but I am not sure what to do here - untar vendor tar and copy apiserver-boot somewhere there?

[code]

[2018-07-06 13:15] jwierzbo-intel opened #252 "limits option not works"
`api/v1/namespaces/my_ns/my_resource?limit=1` returns all elements.
In the code (`pkg/client/clientset_generated/clientset/typed/aggregator/v1/my_resource.go`) I see that `meta_v1.ListOptions` object is passed in the`List` method, but it doesn't work..

[2018-07-06 13:29] damongant commented on #252
What version of K8S do you target?

[2018-07-07 10:02] mlushpenko commented on #251
@damongant tried that, still the same

[code]

[2018-07-07 10:39] damongant commented on #251
Why does your GOPATH have a trailing dot?

[2018-07-07 12:13] mlushpenko commented on #251
It comes from an error message

[code]

[2018-07-07 12:16] mlushpenko commented on #251
Here is my go version, not sure if it is important

[code]

[2018-07-07 12:45] damongant commented on #251
Looks like you _must_ be inside the `src` directory, and not the root of it.

[2018-07-09 09:20] mlushpenko commented on #251
As you can see above, I tried inside src as well

![image](https://user-images.githubusercontent.com/2006610/42411239-fdb469ac-81f8-11e8-8e6d-0401e68f92a0.png)

Perhaps I must be in one of these?
[code]

[2018-07-10 07:58] damongant commented on #251
The `src` directory is the root of all packages, so if your package was named `github.com/mlushpenko/apiserver` it'd be in `$GOPATH/src/github.com/mlushpenko/apiserver`. Consequently, if your package was just in `$GOPATH/src` it's be named "", which doesn't work.

[Here's the Go docs with details](https://golang.org/doc/code.html)

[2018-07-17 20:41] mlushpenko commented on #251
Thanks, @damongant this worked, after trying to find out to which package apiserver-builder belongs to:

[code]

But in general, between the lines so to say, my message was that installation manual is not good enough - if you just follow steps you end up with nothing because you can't use that binary, any ideas how to make it work out of the box?

[2018-07-18 16:34] damongant commented on #251
Ah no, you misunderstood what it does - it generates a new package for you in your namespace.

All code in Go lives in the GOPATH, the link I posted previously should have all the details.

[2018-07-19 09:44] interma opened #253 "Should quit all processes in "apiserver-boot run local" when one of them failed."
**Problem:**
Now if one process (etcd/apiserver/controller-manager) failed in `apiserver-boot run local`, other processes don't quit.
Then the following `apiserver-boot run local` will fail due to the existed processes.

e.g.
[code]

**Proposed Solution:**
When failure happened, I think **quit all processes** is better. So users no needed to find and kill the existed processes manually.

**Others:

[2018-07-19 10:13] damongant commented on #253
This piece of code is quite fragile, yes. It doesn't handle interrupts well either and might leave processes running.

So +1 for improving that part.

[2018-07-19 10:17] schittler opened #254 "Test suite race (closed channel)"
As seen here: https://github.com/kubernetes-incubator/apiserver-builder/pull/240#partial-pull-merging

Also seen this pop up in our apiserver CI quite a bit, not exactly sure where the issue is yet, but worth investigating.

[2018-07-19 10:19] damongant commented on #250
I seem to have misread some of the code (it *does* add the element to the rate limited queue after failure), and we're reached the limits of this controller implementation on our side anyway (e.g. we need to queue some elements when a *different* informer fires a change because our resources aren't purely hierarchical)

[2018-07-19 10:19] #250 closed

[2018-07-25 12:20] jwierzbo commented on #252
Is the k8s v.1.10+ supported?
 I've just found this issue: https://github.com/kubernetes-incubator/apiserver-builder/issues/241

[2018-07-25 12:47] damongant commented on #252
We run the aggregated apiserver on 1.10, but the tooling is 1.9. I just wanted to rule out that you're using an ancient version.

(do note this project is largely unmaintained now and you should be using kubebuilder for new stuff)

[2018-07-26 07:49] jwierzbo commented on #252
@damongant kubebuilder base on CRD and controller - it is not the same as extension api-server where you have your own storage for your resources. Am I correct?

[2018-07-26 08:10] damongant commented on #252
Both end up in etcd one way or another, you can just use a different one with apiserver.

However, after speaking to @pwittrock about the uncertain future of apiserver aggregation I'd still not recommend it

[2018-07-26 08:22] jwierzbo commented on #252
That's the point:
I'm looking for solution where I can use separate datastore (etcd or another), which apiserver-builder fulfill and kubebuilder doesn't..

[2018-07-26 09:53] damongant commented on #252
You can *technically* use a different data store, but it's not exactly a "pluggable" interface.

As far as I heard the apiservice type aggregation into the main apiserver may be deprecated or entirely removed soon. It does sort of look like a dirty hack where most people are better served with CRDs, so I'm not too surprised.

[2018-08-01 09:44] jwierzbo commented on #252
I've created new api-server based on https://github.com/kubernetes/sample-apiserver
To enable Paging, following flag has to be enabled:
`Paging` in `k8s.io/apiserver/pkg/storage/storagebackend/config.go`

Probably same solution will be work for this project.

[2018-08-07 18:12] ruigulala opened #258 "API Server Flags for Aggregation Layer"
According to https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/

This aggregator documentation says to use these flags, but I believe these flags require an authenticating proxy. The documentation doesn’t talk about an authenticating proxy. Can you help me understand if the authenticating proxy is required? Are all the flags required? If not, when are they required

[2018-08-07 18:35] damongant commented on #258
The future of the Kubernetes aggregation layer is uncertain; prefer using CRDs where possible.

[2018-08-07 19:10] AlainRoy commented on #258
The metrics server, as documented at https://kubernetes.io/docs/tasks/debug-application-cluster/core-metrics-pipeline/ uses the API aggregation and recommends these flags. To use the metrics server, CRDs are not currently possible, are they?

Towards that end, we'd love to understand these flags better, if you can help us understand them.

Thanks!

[2018-08-16 15:35] rbjorklin commented on #225
@klustria I also had to add:

[code]

as described [here](https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/). Make sure the proxy certificate maps to a user with the correct permissions/rolebindings.

[2018-10-21 02:35] zenglian commented on #225
The problem is why it's annoymous user, though in both /etc/kubernetes/admin.conf and ~/.kube/config the current user is `kubernetes-admin`. How to set it to a named user?

[2018-10-22 08:11] damongant commented on #225
The core apiserver still knows what user you are, but as soon as its proxied to the aggregated server it doesn't know anymore (because headers and TLS credentials don't "punch through") and the flags described above need to be set up for the aggregated server to not assume every request is anonymous.

[2018-11-16 07:33] yue9944882 opened #266 "[Feature] Support admission controller for AA server"
/assign

currently, the AA built by apiserver-builder doesn't support admission controller (by which i mean the dynamic ones which is embedded by generic apiserver). Will add support for that, so that user-customized AA server can function w/ admission webhooks.

[2018-11-16 07:37] yue9944882 commented on #206
ref #266

[2018-11-16 08:10] yue9944882 commented on #249
/triage support

hey @yaxinlx , take the content of `example/pkg/apis/innsmouth/zz_generated.api.register.go` as example, if u want to add short name(s) to that resource, u can simply append a method for its storage like:

[code]

[2018-11-16 08:14] yue9944882 commented on #258
/triage support

https://kubernetes.io/docs/reference/access-authn-authz/authentication/#authenticating-proxy

these flags defines how the delegated authenticator extracts user informations from the requests, they are optional.

[2018-11-16 08:21] yue9944882 commented on #226
hey @klustria, (if u were still hitting this issue) please re-post this to kubernetes/kubernetes repo.

[2018-12-01 11:10] yue9944882 commented on #241
hey @tamalsaha, are you still hitting this issue? release-1.10 we can provide a release-1.10 if that helps.

long-termly, i suppose it's a yes. while for now, CRDs have some pending underlying issues so.. the apiserver builder will move on

[2018-12-01 11:17] yue9944882 commented on #252
hey folks, fyi it's fixed by kubernetes via [#67861](https://github.com/kubernetes/kubernetes/pull/67861)

[2018-12-02 09:28] yue9944882 opened #272 "[Bug] Openapi doc cannot be printed w/ stand-alone "--print-openapi" flag"
- [x] make kubeconfig optional #271
- [ ] make etcd endpoints optional

[2018-12-05 10:21] magicsong opened #274 "The field `priority` does not exist in `apiregistration.k8s.io/v1beta`"
when use kubectl apply -f config/apiserver.yaml, it throws following error:
[code]
Can i open a pr to remove this field?

[2018-12-05 11:10] yue9944882 commented on #274
at the first blush, it looks like a versioning mismatch between ur `kubectl` and the apiserver. whats the version of them?

[2018-12-05 12:07] wuqifu commented on #225
works for me.

[2018-12-05 13:39] yue9944882 commented on #274
SGTM. `priority` is replaced after [https://github.com/kubernetes/kubernetes/pull/46800](https://github.com/kubernetes/kubernetes/pull/46800). @magicsong is always welcome! thx!

btw, bump that apiversion to `v1` together in ur pull please 👍🏻

[2018-12-05 16:15] yue9944882 commented on #225
this is not recommended since that it will grant extra privileges to any requests w/ anonymous access.
apiserver will be authenticating a request as "anonymous" only if you enabled `--anonymous-auth`(which is enabled by default) but didn't configure other authenticator like request proxy headers. this error message might be suggesting that __you should configure at least one authenticator for ur a

[2018-12-05 17:11] yue9944882 commented on #225
except for request header authenticator, you could also use delegated auth (via Authn/AuthzReview API)

note that things that use delegated authentication should have:
- the extension-apiserver-authentication-reader role in the kube-system namespace
- the system:auth-delegator clusterrole at the cluster scope

[2018-12-06 10:00] yue9944882 commented on #225
enabling anonymous auth is evil for aggregated server, linking recent CVE:

[https://github.com/kubernetes/kubernetes/issues/71411](https://github.com/kubernetes/kubernetes/issues/71411)

will disable that by default in this builder

[2018-12-06 16:25] #274 closed

[2018-12-07 10:33] magicsong opened #278 "openapi-gen don't walk through subdirs"
i have a package in `v1alpha1`(under apis), and I add `// +k8s:openapi-gen=true` to in front of its package name. And `ApiServer` report following error.
[code]
And I have to manually run following command each time: (Add a `/...` to original args)
[code]
Btw, i think this tool is more useful than CRD, why there is nobody to maintain this repo? Right now, this tool is hard to use (No detailed doc

[2018-12-08 09:04] yue9944882 commented on #278
rule of thumb, normally we don't define models under subpackges and also what we do in k/k

thx so much for ur support! this project is still running towards graduation so any feedback (bug report/pulls/re's) will be super welcome and we are always ready to help.

nah huh, we are actually running this repo, hopefully will share more maintainer bandwidth from k/k in future. if necessary, we will be

[2018-12-09 02:33] magicsong commented on #278
@yue9944882 glad to hear that! Thx for your reply, I will move the model out of subdir

[2018-12-10 06:50] magicsong commented on #278
i try to import a package in apis definitions, it complains again.

[2018-12-10 06:57] magicsong opened #279 "deepcopy-gen cannot recognize alias"
I have a type like:
[code]
And deepcopy-gen report following error：
[code]
So I have to remove the alias and use string directly. Does i miss something ?

[2018-12-10 07:58] magicsong commented on #279
I found out `type MyType string` is missing in `zz_generated.api.register.go`, How do i tell apiregister-gen to copy this type

[2018-12-10 15:30] yue9944882 commented on #278
by any chance, if you could show us ur code to reproduce the problem? a link to ur code/gist would be fine

[2018-12-11 02:06] magicsong commented on #279
@yue9944882 yes. I have the annotation. The root cause is `type MyType string` is missing in "zz_generated.api.register.go", when deepcopy try to generate deepcopy function of "zz_generated.api.register.go", it can't recognize `MyType`

[2018-12-11 03:03] magicsong opened #280 "apiserver-boot build docs failed if using external etcd"
I use external etcd when debug in local. It can be done by  `apiserver-boot run local --run=apiserver --run=controller-manager --etcd "http://192.168.98.8:2379" --generate=false --build=false`
However i can't run `build docs` because etcd-server is hard-coded to "localhost:2379" in source.

[2018-12-11 07:38] magicsong commented on #278
closed. I found a way to solve this

[2018-12-11 07:38] #278 closed

[2018-12-11 08:04] magicsong commented on #249
@yue9944882 what about "customize Server-side printing", currently , the output of `kubectl get myresource` is quite a few.  BTW, how do find I these `ShortNames()` interface, I cannot find any code include these( I only find some create,update strategies).

[2018-12-11 15:13] yue9944882 commented on #280
hi @magicsong building docs doesn't matter which etcd you are referencing it's just a required option to launch the server. any use case for referencing external etcd i missed?

[2018-12-11 15:24] yue9944882 commented on #279
@magicsong confirmed, thx!

/kind bug
/assign

[2018-12-11 15:25] yue9944882 commented on #279
@magicsong do you think about workaround like:

[code]

[2018-12-11 18:09] Kashomon commented on #241
I would love this. I'm using this library and would love to upgrade to kube apimachinery 1.10 to pick up a bunch of advancements in CRDs, but I can't go all the way to 1.12 (which is what has happened on master).

[2018-12-11 18:52] tamalsaha commented on #241
We are not planning to use this. Thanks for checking.

[2018-12-12 01:59] magicsong commented on #280
@yue9944882 docs are generated by communicate with apiserver. The url is like `https://apiserver:9443/openapi`. So the etcd must be launched.

[2018-12-12 02:04] magicsong commented on #279
@magicsong The usage of `type MyType string` is try to emulate "emum", (you know `golang` does not support emum). Your provided solution cannot achieve that aim.

[2018-12-12 05:11] yue9944882 commented on #241
/assign

[2018-12-12 05:42] yue9944882 commented on #280
@magicsong that apiserver doesn't read/write anything from that etcd. does that make sense?

[2018-12-12 06:04] magicsong commented on #280
@yue9944882 If I understand correctly, apiserver is the only component that communicates with etcd. Apiserver must have a storage. You can check this code  <https://github.com/kubernetes-incubator/apiserver-builder/blob/c3c081711723ad2a0b009417153d00d5efd2c2c3/pkg/cmd/server/start.go#L84>

[2018-12-12 07:07] magicsong commented on #280
@yue9944882 I think  `apiserver-boot build doc` does the following things:
1. run an `apiserver --print-openapi` to generate swagger.json ( it will clean up after command termination)
2. use `gen-openapi` to generate "true" docs (which will stay on disk)
3. run a container to browser docs. (this container need swagger.json)
4. Always, cleanup.

So, I don't think apiserver is not neccessary.

[2018-12-12 12:37] yue9944882 commented on #280
to clarify, am not suggesting you to run apiserver w/o etcd option, but to run this w/ a local etcd as `localhost:2379`

[2018-12-13 02:03] magicsong commented on #280
You should not ask user to run etcd locally or make other assumption. My laptop has poor performance and cannot run etcd or docker (In actual, I don't have to because I have some VMs). As Cloud Native project, etcd and apiserver should be loose coupling. Hard-code is ugly. If you insist on asking people to run etcd locally, you also should change codes in `apiserver-boot run local`, because that m

[2018-12-13 06:40] yue9944882 commented on #280
i'm in favor of #272, to prune that etcd options when printing doc from an upstream fix. we have to be careful about adding falgs.

[2018-12-13 07:04] magicsong commented on #280
@yue9944882 I'm careful enough( you should review the code to see what is changed). Also there is no plan for k8s to run apiserver without etcd(If have, pls  let me know). You prefer using hard-code instead of making it configurable. You cannot afford a feasible way but wait forever.

[2018-12-13 07:04] #280 closed

[2018-12-13 07:16] yue9944882 commented on #280
no, i'm planning that. also, attemption at [etcdproxy-controller](https://github.com/xmudrii/etcdproxy-controller). feel free to bump that topic at our sig-api-machinery meetings 🙂

[2018-12-13 07:47] magicsong commented on #280
sounds great.  I'm happy to wait but right now i have to work on my fork.  This repo has so many TODO things(1. doc 2. shortNames 3. admission controller 4 Server side prints) which is more important than this issue (and this issue did have a workaround here #281 which is at least working well) , Without these features, using this tool to build AA is harder and more expensive even less flexible th

[2018-12-14 06:16] cmoulliard opened #285 "make install don't copy binary gen-apidocs, vendor.tar.gz"
### Issue

When the command `make install` is executed, then the binary `gen-apidocs` is not added to the `GOPATH/bin` directory

[code]

By consequence, when we try to use locally the executable `apiserver-boot`, then we get this error

[code]

Same issue for the file `vendor.tar.gz`

[code]

[2018-12-14 06:46] cmoulliard opened #286 "unknown flag: --report-filename"
### Error reported

When we execute the command to start locally an apiserver `apiserver-boot run local`, then we get this error

[code]
[code]

- Create project
[code]

- Touch file `boilerplate.go.txt` and add Apache license
[code]
- Create the API Component v1alpha
[code]

[2018-12-14 07:19] yue9944882 commented on #285
hi @cmoulliard thx for reporting this! will be fixing that ASAP. do you think about a workaround by running `make build` and copy the binaries manually into GOPATHs?

[2018-12-14 08:02] cmoulliard commented on #286
As it seems that `openapi-gen` is not copied using `make install` within the `GOPATH/bin` directory, then I was using a old version installed within `GOPATH/bin`.

[2018-12-14 08:06] yue9944882 commented on #286
hi @cmoulliard , it's the version of `openapi-gen` in ur GOPATH/bin mismatching the builder's. you can run `make build` and copy those binaries into the path manually. and i'll open a fix for `make install` to install the other binaries automatically.

[2018-12-14 08:37] cmoulliard opened #288 "Update VERSION as it is defined to 0.1-alpha.20"
### Tasks

- [ ] Update the `VERSION` file as it is defined to `0.1-alpha.20` and latest release tagged is `v1.9-alpha.4`
- [ ] Release a new version of the project as 35 commits have been pushed since last release

[2018-12-14 08:42] cmoulliard opened #289 "Rename tools-user-guide.md"
### Proposition

The page [tools_user_guide.md](https://github.com/kubernetes-incubator/apiserver-builder/blob/master/docs/tools_user_guide.md) presents the steps required to create an API like a Api Server and to start it locally.

I propose to rename it to a `How-to-create-an-Api-and-Api-Server`. WDYT ?

**REMARK** : The guide does not include a prereq section to install the needed tools such as

[2018-12-14 08:59] cmoulliard opened #290 "Test fails when executed from a generated project"
### Issue

Even if an etcd server is defined under the PATH of the user, then `go test` fails

[code]
### Error
[code]

[2018-12-14 10:50] #285 closed

[2018-12-14 11:13] yue9944882 commented on #286
closing since that it is fixed by #287, feel free to reopen please

/close

[2018-12-14 11:13] #286 closed

[2018-12-16 16:53] yue9944882 commented on #290
@cmoulliard please install etcd into ur system PATH (instead of bash context PATH) or export etcd to ur PATH again before running go test

closing since that i suppose this issue is resolved. feel free to reopen anytime.

/triage support
/close

[2018-12-16 16:54] #290 closed

[2018-12-21 10:10] fejta commented on #242
Required SECURITY_CONTACTS file still does not exist. Please resolve as soon as possible.

[2018-12-21 10:56] fejta commented on #242
kubernetes-incubator/apiserver-builder still needs a SECURITY_OWNERS file.
/assign @pwittrock @yue9944882 @alexandercampbell @ibazhitov @DirectXMan12 @metmajer

[2018-12-21 10:57] fejta commented on #242
kubernetes-incubator/apiserver-builder still needs a SECURITY_OWNERS file.
/assign @pwittrock @yue9944882 @alexandercampbell @ibazhitov @DirectXMan12 @metmajer

[2018-12-29 04:21] #242 closed

[2018-12-29 04:25] yue9944882 opened #296 "[Feature]: Introduce apiserver-runtime to simplify server plumbing"
/cc @pwittrock @DirectXMan12

[2019-01-02 04:57] yue9944882 opened #297 "[Feature] Fuzzer and round-trip test against generated resources"

[2019-01-07 08:19] magicsong opened #298 "create subresource is not working because of interface Incompatibility between old version and v1.12"
The error is like
[code]
occurred both in `CreaterUpdater`  and `Patcher`

[2019-01-07 13:30] #298 closed

[2019-01-10 08:20] joeylin commented on #279
@magicsong  do you know how to fix this?

[2019-01-10 08:20] joeylin commented on #279
@magicsong when i remove doc.go file，it  run well

[2019-01-11 05:50] magicsong commented on #279
@joeylin I think remove `doc.go` is very dangerous. Because it has some annotations like following:
[code]
remove such annotations will make you api been unknow to apiserver.

[2019-01-11 05:53] magicsong commented on #279
@joeylin right now  i put such types into another package instead of current versioned package. When i define my resources, i just import that package. This is a 100% workround and is not what is like in k8s source code.

[2019-01-20 15:22] yue9944882 opened #301 "[Announcement] Repo renaming: Better builder tooling for AA is yet to come"
As we discussed and decided, the repo is going to be renamed to `apiserver-builder-alpha` in the near future. Also the good news is some other builder toolings is landing for  __A__ PIServer __A__ ggregation developers (hopefully that will be landing next month Feb 2019), and that is going to be an awesome work by what we learned from previous practices that [building layered abstraction helps imp

[2019-01-22 07:10] magicsong commented on #279
@yue9944882 it cannot work. should manually put `type MyType string` into the generated unversioned api

[2019-01-22 22:57] brycecr commented on #279
I'm getting a similar error, but only on some environments...all the environments have the same go version. There are two packages in my pkg/ section, but only doc.go for one of them -- is that relevant?

Two related questions:

[2019-02-12 12:20] adohe opened #306 "[Feature] AA server should support logtostderr and log-dir flag as kubernetes apiserver"
FYI. @yue9944882 @pwittrock ptal

[2019-02-19 05:33] yue9944882 commented on #306
putting this in detail, for now logs from AA server can only be printed at stdout/stderr. in order to land logs chunk gracefully in files, we need to migrate similar flags and their implementation from kube-apiserver. reusing work from k/logs is considered as a good step to start

[2019-02-20 06:15] adohe commented on #306
sounds reasonable to me. 👍

[2019-02-27 10:35] yue9944882 commented on #306
Trying to switch the vendor dependency but hitting this very issue: [https://github.com/kubernetes/kubernetes/issues/74560](https://github.com/kubernetes/kubernetes/issues/74560)

[2019-02-27 12:17] #301 closed

[2019-02-27 17:10] yue9944882 commented on #306
Fixed by #309

/close

[2019-02-27 17:10] #306 closed

[2019-02-28 06:38] ckcd opened #311 "How to add NewxxxREST for subresource"
Hi,  i am a beginner of this beautiful repo, and i have a question about `NewxxxREST` for subresource.

As i learned, For `resource`, when add `rest=xxxREST` in comment, the `apiserver-boot build generated` will do below as shown in [adding_custom_rest.md](https://github.com/kubernetes-incubator/apiserver-builder-alpha/blob/v1.9-alpha.4/docs/adding_custom_rest.md) ：

which means we can define any

[2019-02-28 19:29] aneesh07 opened #312 "Installation instructions not full. Tried building using bazel, it doesn't work."
I am trying to follow the Installation instruction [https://github.com/kubernetes-incubator/apiserver-builder-alpha/blob/master/docs/installing.md](url). It is insufficient. Unable to build the project.
I am trying to build using bazel build //...

[2019-03-01 04:31] yue9944882 opened #313 "zz_generated.api.register.go files are missing in release tarball when vendored into k/k"
/cc @adohe
/kind bug

when we add generated projects back to k/k as its vendor, `make release` will constantly fail due to compiling error. which is caused by rsync filter which eliminates all `zz_generated_*` files when we building release tarball.

we should either change the generated filename of `apiregister-gen`, or file an fix to k/k to loose the rsync filtering.

[2019-03-01 04:37] yue9944882 commented on #311
thx for reporting this!

this sounds surprising. could u expand it in detail how are we hitting the nil panic? if i understand correctly `b.GetStandardStorage()` seems never returning a nil instance.

what's the purpose of replacing the store? as a rule of thumb, it's designed that the main resource and its subresources sharing the store.

[2019-03-06 03:10] filmil commented on #279
Added a somewhat nicer error message: https://github.com/kubernetes/gengo/pull/137

[2019-03-06 06:06] ckcd commented on #311
@yue9944882  Thanks for your opionion !  and sorry to reply you so later.

Yes, `b.GetStandardStorage()` returns `b.Storage` but  no one can initialize `b.Storage` if we use `REST` rather than `Strategy`, in my rough opinion, the flow of execution is:

1. if set `strategy=FooStrategy`, then: `builders.NewApiResource()`  --> `registerEndpoints()` --> `registry[path] = b.Build(group, optionsGetter)`

[2019-03-08 10:09] yue9944882 commented on #311
thx for the detailed clarification! i did reproduce that in my local environment. will file a pull for allowing injecting store when customizing REST 🔨

[2019-03-08 18:32] admilazz opened #316 "create resource group validation is incorrect?"
The documentation says that group names should be "of the form package-name.domain-name such as myapifocusarea.mydomain.com". `apiserver-boot create group` and `create version` accept group names in this form, but `apiserver-boot create resource` does not, giving the error "--group must match regex ^[a-z]+$ but was (foo.bar.com)". This prevents us from actually creating any resources.

If it's the

[2019-03-08 19:22] admilazz opened #317 "v1.12.alpha.1 doesn't build a new project"
I installed apiserver-builder and created a new project with these commands:

    $ apiserver-boot init repo --domain company.com
    $ apiserver-boot create group --group project
    $ apiserver-boot create version --group project --version v1alpha1
    $ apiserver-boot create resource --group project --version v1alpha1 --kind MyKind

The boilerplate.go.txt file just contained "// Copyright 2019

[2019-03-09 06:45] yue9944882 commented on #317
how to reproduce that? could u paste me a minimum definition of ur `company.com/project/pkg/apis/project/v1alpha1` API ?

[2019-03-09 15:08] vsxen commented on #279
you need run `go get -v -u k8s.io/apimachinery`

[2019-03-09 18:06] admilazz commented on #317
The API has not been modified from whatever was generated by apiserver-boot. That is to say, I just ran those four apiserver-boot commands above and tried to build it. So, to reproduce it, just run these commands:

    $ touch boilerplate.go.txt
    $ apiserver-boot init repo --domain company.com
    $ apiserver-boot create group --group project
    $ apiserver-boot create version --group project

[2019-03-11 03:33] #316 closed

[2019-03-11 03:38] yue9944882 commented on #317
am i missing sth? i tried running the commands step by step but didn't reproduce the error. could u run `which openapi-gen` and see if it's under `$GOPATH/bin`?

[2019-03-11 07:28] yue9944882 commented on #317
oh, reproduced.. fixing soon

[2019-03-11 09:30] yue9944882 commented on #317
@admilazz finally, i find out it was the `GOROOT` env var missing that caused this very error. export this env var and the openapi-gen will run fine.

closing this issue, feel free to reopen if it still doesn't get solved
/close

[2019-03-11 10:03] yue9944882 commented on #317
@admilazz

a walkround for this issue will be exporting `GOROOT` env var explicitly in your shell context

[2019-03-11 17:16] admilazz commented on #317
Thanks, I'll try the workaround.

[2019-03-11 19:23] admilazz commented on #317
I still get the error, unfortunately.

export GOROOT=/usr/local/go
export GOPATH=/home/adam/go
export PATH=$PATH:$GOPATH/bin
...

[2019-03-12 03:08] #279 closed

[2019-03-12 04:30] yue9944882 commented on #317
the crux is that GOROOT didn't get correctly loaded in the generator's parser. w/o GOROOT any types defined in golang SDK will not be parsed when generating openapi doc.

[https://github.com/kubernetes/gengo/blob/b90029ef6cd877cb3f422d75b3a07707e3aac6b7/parser/parse.go#L86](https://github.com/kubernetes/gengo/blob/b90029ef6cd877cb3f422d75b3a07707e3aac6b7/parser/parse.go#L86)

[2019-03-12 10:48] #317 closed

[2019-03-12 12:25] yue9944882 commented on #317
fixed in release `v1.12.alpha.2`, feel free to reopen this issue

[2019-03-12 19:20] admilazz commented on #153
I'm not sure if this bug is back or if it's a new bug, but v1.12.alpha.2 seems to have this problem as well.

[2019-03-12 19:23] admilazz opened #323 "v1.12.alpha.2 linux-amd build appears to be for another architecture (darwin-amd?)"
This might be a duplicate of #153, but it seems that the apiserver-boot binary (and probably others) in v1.12.2-linux-amd64 are not ELF images and fail with the error "apiserver-boot: cannot execute binary file: Exec format error".

[2019-03-13 03:06] yue9944882 commented on #323
sry for the negligence, it was a misconfiguration in our CI environment. binaries updated.

/close

[2019-03-13 03:06] #323 closed

[2019-03-13 03:08] yue9944882 commented on #153
apologies, it's caused by a misconfiguration. release binaries refreshed.

[2019-03-13 16:43] admilazz commented on #317
Just have to say that I get the exact same error with v1.12.alpha.2.

[2019-03-13 16:49] admilazz commented on #317
I did eventually get it to build by playing around with the GOROOT, but it's interesting that other tools don't seem to need that.

[2019-03-15 03:03] #311 closed

[2019-03-15 03:15] jsloyer commented on #225
Do not do what https://github.com/kubernetes-incubator/apiserver-builder-alpha/issues/225#issuecomment-370153428 is suggesting. Huge security hole....

[2019-04-11 17:30] yue9944882 opened #333 "Add flag to support insecure endpoint for integrating controller-runtime"
controller-runtime uses insecure health check to start the testing environment. to make the test running correct, we need to suppose insecure endpoints, at least for `/healthz`

[2019-04-12 07:36] #333 closed

[2019-04-21 11:30] yue9944882 commented on #4
/lifecycle freeze

[2019-04-21 11:30] yue9944882 commented on #4
/lifecycle frozen

[2019-04-23 01:52] #205 closed

[2019-04-23 16:45] yue9944882 opened #340 "[Feature] Aggregated CRD APIServer for data-intensive CRDs"
For now, both CRD and legacy kube resources are all stored sharing the same ETCD cluster which makes ETCD a bottleneck as the scale grows bigger. We're planing to support building your own CRD server and wiring into the cluster via API Aggregation. This will help when we want to build a data-intensive CRD ,but meanwhile, want to isolate it from the other resources.

[2019-04-24 14:26] ChenDoRo commented on #301
Any schedule for controller-runtime library adoption? Or it is still in planning?

[2019-04-25 01:41] ChenDoRo commented on #301
@yue9944882 Awesome!

[2019-04-25 07:53] schittler commented on #254
This has not reoccured after we updated to the 1.12 branch.

/close

[2019-04-25 07:53] #254 closed

[2019-04-29 03:10] MikeSpreitzer commented on #252
@yue9944882 : it looks like you did #338 to try to address this issue.  But in #338 notice that the APIListChunking feature gate is read before the command line flags are parsed, so the pagination feature is not effectively controlled by the command line.  It would be more appropriate to read the feature gate setting after the command line flags have been parsed.

[2019-04-29 03:10] MikeSpreitzer commented on #252
/remove-lifecycle stale

[2019-04-29 13:55] #252 closed

[2019-05-09 12:30] tony-shi opened #348 "Missing manifest.json when try to generate swagger.json"
I was try to use apiserver-builder to generate a swagger.json esaily with several bash command.
Things works pretty well until in the last step
[code]
I want to keep the clean up as false, to see the intermediate resources, including the swagger.json i needed.
In fact i got a swagger.json in the docs/openapi-spec directory since i add the --cleanup=false flag.
However the terminal always output li

[2019-05-13 05:09] yue9944882 commented on #348
thank you for reporting this. it's a bug left by over-trimming the vendor in recent change. will fix it at the release in mid may.

for now, as a walkaround, you can generate the openapi docs by running apiserver manually using the flag `--print-openapi`. (additionally, launching apiserver requires `--etcd-servers` flag).

/assign

[2019-05-14 08:53] #348 closed

[2019-05-17 10:23] WanLinghao opened #351 "Failed to build apiserver due to bazel errors"
I am trying build my own apiserver step by step instructed by :https://github.com/kubernetes-incubator/apiserver-builder-alpha/commits/example-simple
But I ran into unexpected error in step 6, it tells me that I shoud execute  `apiserver-boot build executables --bazel --gazelle --generate=false`
And it ends with errors like:
[code]
Could anyone help

[2019-05-20 01:14] WanLinghao commented on #351
@pwittrock Any thoughts?

[2019-05-20 03:52] yue9944882 commented on #351
hi @WanLinghao, thanks for reporting this. it's sort of a duplication of #312. bazel build is broken for now for some issue.  please remove the options `--bazel --gazelle` and run again the command. and i'll the revise the guide in a follow-up.

[2019-05-24 22:21] #198 closed

[2019-05-28 04:22] yue9944882 opened #356 "[Feature] Migrating package management to go mod"

[2019-05-28 14:02] yue9944882 opened #358 "[Feature] Protobuf serialization support for aggregated resources"

[2019-05-30 20:36] neosab commented on #249
As a user, it will be great if we can get support for specifying shortnames. Seems like #283 was pretty close, any update on it?

[2019-05-31 05:09] yue9944882 commented on #249
for now, we can support shortname/catagory by [customizing REST](https://github.com/kubernetes-incubator/apiserver-builder-alpha/blob/master/docs/adding_custom_rest.md) and i added an example by #359. the other pull is breaking underlying api-machinery hierarchy as i reviewed and commented.

alternatively, we can support providing shortnames via resources tag like `// +resource: ....,shortNames=ab

[2019-06-01 13:43] jhedev commented on #317
I'm facing the same issue with v1.12.alpha.3 on a newly initialized project... any changes to GOROOT do not help. Any idea how I can get it working?

[2019-06-04 07:27] yue9944882 commented on #317
@jhedev what's your output running `go env` and `echo $GOROOT` in the command-line context?

[2019-06-04 17:09] jhedev commented on #317
[code]

[code]

If I set `GOROOT=/usr/local/go` it seems to fix the open-api generation part but break the other builds. So I have to do the following: `GOROOT=/usr/local/go apiserver-boot build generated` followed by `apiserver-boot build executables --generate=false` to build executables because setting `GOROOT` to `/usr/local/go` will break `go build`

[2019-06-09 19:49] neosab commented on #249
I will try this out

That will be nice to have.

[2019-06-10 03:32] wellorange opened #360 "customize etcd servers"
Why can't I customize etcd?I already have a etcd on my machine.
[code]
[code]

[2019-06-10 03:40] yue9944882 commented on #360
it seems that the command is failing b/c there's no `etcd` binaries installed in your `$PATH`. and sadly for now, run local only works for local etcd cluster.

[2019-06-10 03:57] wellorange commented on #360
@yue9944882 Because I have the etcd service locally, I don't need to start a new etcd instance. etcd has fixed port 2379. I can't start the new etcd service on this machine.

[2019-06-10 03:59] wellorange commented on #360
@yue9944882 My etcd service has another use, can't be closed, because etcd fixed port reason, I can't start new service again.

[2019-06-10 04:30] yue9944882 commented on #360
oh i see, if thats the case, you can exclude etcd bootstrapping via `apiserver-boot run local --run apiserver --run controller-manager`.

[2019-06-12 07:32] wypsmall commented on #360
apiserver-boot run local-minikube --etcd=http://127.0.0.1:3379 --run="apiserver,controller-manager"

[2019-06-12 12:38] pires commented on #98
If anyone is still interested in following-up, maybe inspiration can be taken from how [k3s](https://github.com/rancher/k3s) relies on [kvsql](https://github.com/ibuildthecloud/kvsql) to provide support for different storage backends.

[2019-06-12 20:33] mikedanese commented on #225
The Kubernetes team considers some of the suggestions made in this thread to be harmful. Some suggestions recommend granting anonymous clients full access to the Kubernetes API and should not be considered as solutions to permission issues. While anonymous auth is useful in specific circumstances, it should only be applied with care and understanding of the Kubernetes API and permission model.

Fo

[2019-06-13 09:13] yue9944882 opened #362 "[Feature] Support generic SQL-family storage backend"
integrating https://github.com/ibuildthecloud/kvsql unchains us from many etcd maintainence issues. we probably want to provide a generic framework supporting MYSQL, SQLite as storage backends for aggregated apiservers.

[2019-06-13 09:19] adohe commented on #362
@pwittrock

[2019-06-13 09:29] yue9944882 commented on #362
note that the default backend should always be `etcd` to align w/ the general architecture, splitting an optional pass for SQL backend is for saving time and troubles for those developers trying plumbing their existing backends into the kubernetes lifecycle.

[2019-06-13 13:02] yue9944882 commented on #360
/close

closing as the question seems resolved.

[2019-06-13 13:02] #360 closed

[2019-06-13 15:14] yue9944882 commented on #98
/remove-lifecycle rotten

@pires interesting point, i opened #362 to track this feature

[2019-06-20 11:03] #79 closed

[2019-06-20 19:10] #114 closed

[2019-06-20 21:12] #144 closed

[2019-06-20 22:13] #115 closed

[2019-06-20 22:13] #111 closed

[2019-06-20 22:13] #117 closed

[2019-06-20 22:13] #159 closed

[2019-06-20 22:13] #116 closed

[2019-06-20 22:13] #173 closed

[2019-06-20 23:14] #174 closed

[2019-06-20 23:14] #175 closed

[2019-06-20 23:14] #129 closed

[2019-06-21 00:15] #179 closed

[2019-06-21 01:16] #192 closed

[2019-06-21 01:16] #194 closed

[2019-06-21 01:16] #191 closed

[2019-06-21 14:29] #199 closed

[2019-06-21 14:29] #200 closed

[2019-06-21 23:38] #223 closed

[2019-06-22 00:39] #224 closed

[2019-06-22 05:44] #234 closed

[2019-06-22 13:52] #156 closed

[2019-06-22 23:01] #243 closed

[2019-06-23 00:02] #245 closed

[2019-06-23 03:05] #246 closed

[2019-06-23 04:06] #247 closed

[2019-06-23 07:09] #248 closed

[2019-06-23 19:21] #251 closed

[2019-06-23 20:22] #253 closed

[2019-06-26 03:16] #258 closed

[2019-06-26 03:16] #266 closed

[2019-06-26 03:16] #206 closed

[2019-06-26 03:16] #226 closed

[2019-06-26 14:27] #241 closed

[2019-06-26 15:28] #272 closed

[2019-06-26 16:29] #289 closed

[2019-06-27 09:13] yue9944882 opened #370 "[Feature] Multi-version resources round-tripping"
/kind feature

a follow-up will be integrating fuzzer testing

[2019-07-04 12:12] yue9944882 commented on #362
the rancher guys are releasing a new project named `kine` including an etcd-shim and storage-driver. we'll move on after that.

[2019-07-04 12:14] yue9944882 commented on #362
ref: https://github.com/rancher/k3s/issues/520

[2019-07-16 06:31] janakec19 opened #378 "Kubernetes java client always uses system:anonymous User even I set credentials"
Java Sample code:
ApiClient defaultClient = Configuration.getDefaultApiClient();
		String credentials = new String(Base64.getEncoder().encode("username:password".getBytes()));
		ApiKeyAuth basicAuth = (ApiKeyAuth) defaultClient.getAuthentication("BearerToken");
		basicAuth.setApiKey(credentials);
		basicAuth.setApiKeyPrefix("Basic");
		defaultClient.setBasePath("https://192.168.*.*:8000");
		Confi

[2019-07-16 06:40] yue9944882 commented on #378
i guess this issue should be sent to [the repo for java client](https://github.com/kubernetes-client/java/issues)?

the error is basically suggesting two things:

1. anonymous auth is enabled in your cluster, it's recommended to be off for most cases. otherwise, you'll get a `401/Unauthorized` error
2. the authentication settings of the api-client is not working. please make sure the credentials a

[2019-07-16 06:40] #378 closed

[2019-07-19 05:38] jzhoucliqr opened #379 "[Question] how to add corev1 resources into the generated apiserver"
I want to use the apiserver as a standalone server, without running native kube-apiserver. Out of box the generated code works perfect, which serves only the custom resource I defined.

For the controller, I want to use the leaderelection package, which internally relies on configmap/endpoint. But the generated apiserver does not expose those resources from corev1.

I'm trying to figure out how to

[2019-07-19 06:18] yue9944882 commented on #379
the corev1 resources exists in kube-apiserver, but in your case it doesn't exist so the corev1 resources won't exist either. the good news is that leader-election doesn't actually replying on the actual models of [endpoints|configmaps], it works basing on embedding locks into annotations so you're free to make election work on any resources in your standalone server. consider implementing the [res

[2019-07-19 16:40] jzhoucliqr commented on #379
@yue9944882  Thanks. Will check it out.

[2019-07-21 05:55] jeremyxu2010 opened #380 "OpenAPIConfig does NOT work"
I use `apiserver-boot` to create a new project，but can not access `/openapi/v2` endpoint.

here is generated main method:

[code]

[2019-07-22 03:11] yue9944882 commented on #380
/kind bug

[2019-07-22 15:20] yue9944882 commented on #380
/close

[2019-07-22 15:20] #380 closed

[2019-07-22 22:22] jzhoucliqr commented on #379
I'm trying a quick hack POC in the direction of exposing configmap from the generated-apiserver. But I'm not able to git it work yet. Any help is very much appreciated.

Following kube-apiserver, I'm trying to install legacy api group as following. But during start up, it complains:

`
panic: storage codec doesn't seem to match given type: Internal type not encodable: v1.ConfigMap is not suitable

[2019-07-22 22:27] jzhoucliqr commented on #379
For NewREST(), I'm copying over some of the code into local package:

[code]

[2019-07-23 02:59] yue9944882 commented on #379
it's fine to move this change out of vendor.

migrating storage to aggregated apiserver is not enough, it will also take you vendor "strategy", "validation" implementation which will pull in the entire k/k. for the record, vendoring k/k is strongly not recommended, it will be breaking when we switch to go mod to manage dependencies.

what's more, both aggregated resource and CR resource are consid

[2019-07-23 04:22] jzhoucliqr commented on #379
Thanks for the help!

I was also copying over 'strategy' and using empty 'validation' into local package, together with NewREST(), to avoid vendoring k/k. Now compilation is ok, but it complains about codec during start up.

Hijack configmap is still for the leaderselection. I followed your suggestion with ResourceLock interface, but controller-runtime hardcode to use configmap resourcelock:  http

[2019-07-23 04:29] yue9944882 commented on #379
vendoring k/k doesnt looks avoid-able in your case b/c both NewFunc and NewListFunc requires returning an internal version of the resource i.e. `k8s.io/kubernetes/pkg/apis/core#ConfigMap`. it's gonna be a tough pass

[2019-07-23 05:23] jzhoucliqr commented on #379
Thanks! yeah, that's the part I'm also wondering, NewFunc need internal types not the versioned types. Will dig further and also explore other options.

[2019-07-23 23:39] jzhoucliqr commented on #379
Tried the solution using a customized resourceLock, turns out to be much easier. Only a minor change on controller-runtime side, to expose newResourceLock in manager.Options outside of the package, to allow manager to use customized resourcelocks.

Thanks for the help!

[2019-07-29 06:12] #312 closed

[2019-07-29 06:12] #313 closed

[2019-07-30 08:09] shuijing198799 opened #383 "[Bug] api-conventions.md does not exit"
In the page : https://github.com/kubernetes-incubator/apiserver-builder-alpha/blob/master/docs/concepts/api_building_overview.md
The link https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md can't be found anymore

[2019-07-30 12:19] yue9944882 commented on #383
thank you for reporting this. will fix the broken link, the active one is here:

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md

[2019-07-30 12:50] #383 closed

[2019-08-02 02:07] dormael opened #387 "APIServer CommandLine Flags on klog(glog) seems applied as default(initial) value"
I found -v flag is not affecting when starting api server.

Following modification fixed the problem.
But not sure if this is proper way of modification.
Cause I'm new to golang and kubernetes.

[code]

[2019-08-02 05:48] yue9944882 commented on #387
thank you for reporting this, just confirmed in my local environment. and i just sent a fix for this issue #388

[2019-08-02 05:48] yue9944882 commented on #387
/king bug

[2019-08-02 05:49] yue9944882 commented on #387
/kind bug

[2019-08-02 05:51] yue9944882 commented on #387
for now, we're vendoring 1.12 kubernetes, it's an awkward version in the middle of migrating from glog to klog.

[2019-08-02 09:01] #387 closed

[2019-08-05 16:55] #379 closed

[2019-08-09 04:31] dormael opened #389 "Generated Fake client seems is not supporting field selectors"
Below is the code generated from my source and it only filters labels from ListOptions argument.

[code]

[2019-08-09 05:12] yue9944882 commented on #389
sadly, it hasn't been resolve in the upstream, ref https://github.com/kubernetes/kubernetes/pull/76735.

[2019-08-12 10:16] dormael commented on #389
Thank you for the information.
I'll handle it on my unit tests.

[2019-08-12 10:16] #389 closed

[2019-08-12 10:21] yue9944882 opened #390 "[Announcement] Migrating this repo to @kubernetes-sigs"
This organization is being officially deprecated, we will be moving to @kubernetes-sigs soon, and the base is renaming to `sigs.k8s.io/apiserver-builder-alpha`.

Apologizes that the migration has to break backward-compatbility badly.. But on the other hand, this will help a better integration w/ the kubebuilder/controller-runtime eco-system..

/cc @pwittrock @DirectXMan12

[2019-08-16 05:08] yue9944882 opened #391 "[Feature] Integrate go generate replacing manual running apiserver-boot"

[2019-08-19 04:26] #390 closed

[2019-08-26 19:02] rajr0 opened #397 "Trying to install using relaese images OR by make install fails."
Installation instructions:

    Download the latest release

$ wget https://sigs.k8s.io/apiserver-builder-alpha/releases
...
HTTP request sent, awaiting response... 404 Not Found
2019-08-26 15:01:08 ERROR 404: Not Found.

$ make build
rm -rf *.deb *.rpm *.tar.gz ./release
go run ./cmd/apiserver-builder-release/main.go vendor --version v1.12.alpha.4 --commit a1d139f70f3907e2c05c68f389db901c7c6ea9ef

[2019-08-27 02:36] raushan2016 opened #398 "Building the container using apiserver-boot build container --image {image} fails"
**Environment:**
 OS: Ubuntu 18.04.2 LTS
 apiserver-boot: v1.12.alpha.4

Running `apiserver-boot build container --image raushan2016/apiserver:latest` fails at the docker build step. Although the folder is generated in the path tmp/apiserver-boot-build-container964070301.
If i move this content of the folder to my home directory and try docker build it works but fails with the error
`E: Opening co

[2019-08-27 04:51] yue9944882 commented on #397
thank you for reporting this. the link became invalid during the latest repo migration. i opened #399 to revise the link.

as for your build failure, it seems that it's because the project doesn't locate in correct folders under GOPATH. it should be `$GOPATH/sigs.k8s.io/apiserver-builder-alpha/...` instead of `$GOPATH/github.com/kubernetes-sigs/apiserver-builder-alpha/...`

[2019-08-27 05:11] yue9944882 commented on #398
it's always working fine in my local environment. but it's probably related with the incorrect setup of docker registry, are you using the official?

[2019-08-27 09:40] wallrj opened #401 "Error: failed to run openapi-gen E0827"
I followed instructions at https://github.com/kubernetes-sigs/apiserver-builder-alpha/blob/master/docs/tools_user_guide.md but encounter this error when I attempt to run the server locally.

[code]

[code]

I downloaded all the binaries from https://github.com/kubernetes-sigs/apiserver-builder-alpha/releases/tag/v1.12.alpha.4

[2019-08-27 09:43] yue9944882 commented on #401
is your GOROOT properly set when running the binaries? it's complain failing to index some sources from Golang SDK

[2019-08-27 09:52] wallrj commented on #401
@yue9944882 `GOROOT` was not set in my environment.
If I set it to the value given by `go env`, I no longer get the openapi-gen  error, but a different failure, which I'll create a new issue for.

Perhaps the docs should explain that you need to set `GOROOT` in the environment?
Or perhaps there's a way to use the value from `go env`?

[code]

[2019-08-27 09:58] yue9944882 commented on #401
we doesn't support go mod yet.. disable the go mod compiling and it will fly

[2019-08-27 10:06] wallrj commented on #401
Thanks @yue9944882.

If I `export GO111MODULE=off` it works! Looking forward to  #356

[2019-08-27 10:06] #401 closed

[2019-08-27 18:22] #398 closed, assigned to nobody

[2019-08-27 18:29] raushan2016 opened #404 "Deploying the default api-server fails to start due to etcd pod crashing"
etcd container is failing with the error `pod has unbound immediate PersistentVolumeClaims (repeated 3 times)`

Using the latest version `v1.12.alpha.4`

Here is the part of the generated yaml file :-

[code]

[2019-08-28 00:38] raushan2016 opened #405 "api-server/controller fails to start in a cluster with rbac enabled."
We need some kind of code-gen similar to kubebuilder which auto-generates the role-bindings
**Work around**:
[rbac.txt](https://github.com/kubernetes-sigs/apiserver-builder-alpha/files/3548613/rbac.txt)

Also currently I see
`//+kubebuilder:rbac:groups=foo.bar.io,resources=abcs,verbs=get;list;watch;create;update;patch;delete
//+kubebuilder:rbac:groups=foo.bar.io,resources=abcs/status,verbs=get;upd

[2019-08-28 03:49] yue9944882 commented on #397
yes, i will fix all the broken links in the projects altogether.

[2019-08-28 03:52] yue9944882 commented on #405
thank you for reporting this, integrating/converging kubebuilder is definitely one of the goals in the roadmap!

[2019-08-28 03:53] yue9944882 commented on #405
/kind bug

[2019-08-28 04:00] yue9944882 commented on #404
i think this issue is platform-specific. the `"managed-premium"` storage-class is provided/injected by Azure as vendor settings. it's probably out of scope of this project, server-sdk/code-generator for developing your aggregated apiservers..

[2019-08-29 03:25] raushan2016 opened #408 "Running API server in cluster results in controller container failure due to missing CRD."
Running the api-server in a cluster using the [steps ](https://github.com/kubernetes-sigs/apiserver-builder-alpha/blob/master/docs/running_in_cluster.md). Results in below error in controller container.

`{"level":"info","ts":1567048466.3174245,"logger":"entrypoint","msg":"setting up client for manager"}
{"level":"info","ts":1567048466.3177454,"logger":"entrypoint","msg":"setting up manager"}
{"le

[2019-08-29 05:13] yue9944882 commented on #408
@raushan2016 the error is suggesting that your apiserver isn't started/registered in the cluster. can you confirm if the apiserver container is correctly running?

[2019-08-29 05:35] raushan2016 commented on #408
Yes the api-server is running fine with the log `I0829 03:16:03.434742       1 secure_serving.go:116] Serving securely on [::]:443`

[2019-08-29 05:37] yue9944882 commented on #408
what do you get running `kubectl --raw="/apis/instance.mir.azureml.k8.io/v1beta1"`?

[2019-08-29 05:43] raushan2016 commented on #408
You meant `kubectl get --raw="/apis/instance.mir.azureml.k8.io/v1beta1"`
It gives error `Error from server (ServiceUnavailable): the server is currently unable to handle the request`

`kubectl api-versions` does give this list
certificates.k8s.io/v1beta1
coordination.k8s.io/v1beta1
events.k8s.io/v1beta1
extensions/v1beta1
instance.mir.azureml.k8.io/v1beta1
metrics.k8s.io/v1beta1
networking.k8s.io/

[2019-08-29 05:48] yue9944882 commented on #408
it seems that network between your aggregated-apiserver and kube-apiserver is probably broken. what's output of `kubectl describe apiservice v1beta1.instance.bar.foo.k8.io`?

[2019-08-29 05:54] raushan2016 commented on #408
Got it working now. I was trying to integrated kustomize and used namespace in kustomization.yaml. This causes things to be created in a new namespace but the `APIService` service was pointing to `default` namespace.

So there is no need for CRD generation for API server?

[2019-08-29 06:15] yue9944882 commented on #408
yes, AA(APIServer Aggregation) is another way to extend kubernetes other than CRD. https://kubernetes.io/docs/tasks/access-kubernetes-api/configure-aggregation-layer/

[2019-08-29 20:54] raushan2016 commented on #408
I had to manually create the CRD yaml file and install in the cluster to get it working. Is this a known issue.

[2019-08-29 21:10] raushan2016 commented on #408
Also i see error in the api-server container
I0829 21:03:37.067752       1 log.go:172] http: TLS handshake error from 10.244.0.5:52670: remote error: tls: bad certificate
I0829 21:03:37.067752       1 log.go:172] http: TLS handshake error from 10.244.0.5:52670: remote error: tls: bad certificate
I0829 21:06:31.362722       1 log.go:172] http: TLS handshake error from 10.244.0.5:60988: remote error

[2019-08-29 21:56] raushan2016 commented on #408
Got it working :)

[2019-08-29 21:56] #408 closed

[2019-08-30 05:24] raushan2016 opened #409 "How to use a etcd with cert authentication as the backend store with api-server"
I enabled cert based authentication for the etcd generated by the tool like this
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: etcd
  namespace: mir-apiserver-system
spec:
  replicas: 1
  serviceName: etcd
  template:
    metadata:
      labels:
        app: etcd
    spec:
      containers:
      - command:
        - /usr/local/bin/etcd
        - --listen-client-urls
        - http:

[2019-08-30 05:42] yue9944882 commented on #409
[code]

you can use these flags to set up SSL connection w/ ur etcd backends.. and your etcd endpoints are required to be __https__ endpoints

[2019-08-30 05:51] raushan2016 commented on #409
Can you point me if there are documentation about what all options are supported by the api-server like --etcd-servers ....

[2019-08-30 05:52] yue9944882 commented on #409
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/

for aggregated apiserver, most of flags are inherited from kube-apiserver

[2019-08-30 06:01] raushan2016 commented on #409
Thanks for the pointer.
Correct me if i am wrong, In my scenario i don't need to pass cafile if etcdctl works without that
`etcdctl --cert=/home/raushank/go/src/sample-api-server/config/certificates/apiserver.crt --key=/home/raushank/go/src/sample-api-server/config/certificates/apiserver.key --endpoints=https://raushank-etcd1.etcd.foobar.com:2379 put foo bar
`

[2019-08-30 06:06] yue9944882 commented on #409
not really sure about that.. but conventionally, we have to set cafile if cert/keyfile is present

[2019-08-30 06:06] raushan2016 commented on #409
Thanks it worked.

[2019-08-30 06:06] #409 closed

[2019-08-30 08:36] yue9944882 commented on #362
example for integrating SQL storages has been out https://github.com/kubernetes-sigs/apiserver-builder-alpha/tree/master/example/kine

[2019-09-11 03:42] yue9944882 commented on #358
/remove-lifecycle stale

[2019-09-12 02:15] carlory commented on #297
/remove-lifecycle stale.

[2019-09-18 06:46] yue9944882 opened #423 "[Feature] Running/installing apiserver-boot from vendor instead of published binaries"
/kind feature

[2019-10-18 23:20] #351 closed

[2019-10-25 14:56] #356 closed

[2019-10-29 10:14] AdelBouridah commented on #251
Hi @mlushpenko   I have the same issue to install api-server so how have you resolved it please

[2019-10-29 12:23] mlushpenko commented on #251
I haven't :) I don't remember anymore what I was trying to test, but eventually I just dropped the idea.

[2019-10-29 12:52] AdelBouridah commented on #251
thank you @mlushpenko  I have juste created the directory /go/src/github.com/kubernetes-incubator/apiserver-builder/pkg/apiserver as you have explained and by executing the apiserver-boot -h from it, it has worked. So its about go directories

[2019-10-29 23:33] mrbobbytables opened #432 "Clean up outside collaborators"
Hey there @kubernetes-sigs/apiserver-builder-alpha-admins,

One of the github-admins here. -- We have a [longstanding issue] on cleaning up outside collaborators, and are now actively planning on removing them on December 1st.

At this point, people that are actively contributing to the Kubernetes project should be promoted to [org members][mem], and any repo specific permissions should be managed

[2019-10-31 02:12] cofyc opened #433 "upgrade k8s code to 1.16.0"
problem is we cannot use it in our project which uses k8s 1.16.0 code (k8s.io/apiserver@1.16.0), so I'd like to upgrade apiserver-builder-alpha to use k8s 1.16.0 code.

[2019-10-31 09:13] #433 closed

[2019-11-03 13:22] aylei opened #435 "Code generated by apiregister-gen fails go vet"
The versioned `api.register.go` generated by `apiregister-gen` (either `tip` and `v1.15.alpha.1`) fails go vet check with the following violations:

[code]

The registry code is typically generated in the versioned apis package, therefore, it cannot be ignored during check like the client packages inside `clientset_generated` directory and should be able to pass checks like `go vet` in most cases.

[2019-11-03 16:29] aylei opened #437 "file generated by `apiserver-boot create` cannot compile"
Follow up: https://github.com/kubernetes-sigs/apiserver-builder-alpha/pull/436#discussion_r341859066

The code generated by apiserver-boot should also be updated to be compatible with the `1.16` kubernetes dependencies.

cc @cofyc

[2019-11-04 08:54] yue9944882 commented on #437
i will schedule a release for 1.16 i.e. v.1.16.alpha.0 very soon, before that we can build ur own release by running `make install` from the project root. that will be a workaround for the issue.

-- thanks, min

[2019-11-06 21:44] #249 closed

[2019-11-07 09:04] #435 closed

[2019-11-10 17:13] #98 closed

[2019-11-11 07:26] #297 closed

[2019-11-15 07:50] aylei opened #442 "Add comment to justify blank imports"
Some static check tools like `revive` complains about blank imports without comment, it would be better if `apiserver-gen` could justify the blank imports in the generated code.

[code]

[2019-11-15 09:31] #442 closed

[2019-11-17 13:53] aylei opened #444 "apiregistry-gen should honor --go-header-file flag"
The header text generated by `apiregistry-gen` is hardcoded. `apiregistry-gen` should honor the  `--go-header-file` like other code generators.

[2019-11-17 14:05] aylei commented on #444
/assign yue9944882

could you please take a look?

[2019-11-21 04:16] #340 closed

[2019-11-23 09:00] #437 closed

[2019-11-24 11:34] #370 closed

[2019-11-27 15:47] #444 closed

[2019-12-01 15:11] mrbobbytables commented on #432
Permissions have been cleaned up.

If you have any questions, please don't hesitate to reopen or ping me on slack.

Thanks!
/close

[2019-12-01 15:11] #432 closed

[2019-12-12 02:39] weixiao-huang opened #449 "Upgrade rules_go and bazel settings to make bazel build work"
Current `rules_go`'s version is too old, and the latest `rules_go` is `v0.20.3`. Also, since `http_archive` should be imported by using

[code]

the codes in `WORKSPACE` is too old to execute. They need to upgrade.

[2019-12-12 05:49] yue9944882 commented on #449
sadly the bazel integration isnt refreshed for a period of time (@pwittrock and other googler folks opened the box but it seems they are fading the bazel support from other related projects as well). we're not using bazel in production either so know little about it.. plz feel free to bump the bazel setups by sending a pull. thanks

[2019-12-12 15:49] weixiao-huang commented on #449
I've open https://github.com/kubernetes-sigs/apiserver-builder-alpha/pull/451 to upgrade bazel and rules_go ONLY for `cmd` directory. If there's no problem, I can extend it to support other directories

[2019-12-17 13:35] Skillshot opened #454 ""Step by step example" section of the readme has a broken link"
![image](https://user-images.githubusercontent.com/7027266/70999813-cfd8a180-20e2-11ea-822e-00adef5c2888.png)
This has a broken link:
https://sigs.k8s.io/apiserver-builder-alpha/commits/example-simple

Please, fix it.

[2019-12-19 03:53] #454 closed

[2019-12-20 01:03] weixiao-huang commented on #449
Close this issue since #451 has been merged

[2019-12-20 01:03] #449 closed

[2019-12-25 06:08] CriaHu opened #463 "list 404 urls"
1./CONTRIBUTING.md
~~https://git.k8s.io/community/contributors/guide/contributor-cheatsheet.md~~
2./docs/adding_custom_rest.md
docs/adding_custom_rest.md
 ~~https://sigs.k8s.io/apiserver-builder-alpha/blob/master/docs/adding_resources.md~~
3./docs/adding_custom_rest.md
~~https://sigs.k8s.io/apiserver-builder-alpha/blob/master/docs/adding_subresources.md~~
4./docs/adding_custom_rest.md
https://sigs

[2019-12-27 13:55] weixiao-huang opened #465 "use go.{mod} instead of Gopkg.{toml,lock}"
Now go modules have been widely used in lots of projects. Also the [kubebuilder](https://github.com/kubernetes-sigs/kubebuilder) has used go modules in its project repo and also used go modules in its generated codes. So I recommend change dep into go modules both in this project and the generated codes.
By using go modules, the `vendor.tar.gz` may be no need to be packaged into the release tar.gz

[2019-12-30 03:16] yue9944882 commented on #465
yeah, tho am a bit surprised kubebuilder has completed migrated to gomod instead of keep them in parallel for several releases. this repo will always be following up actions of kubebuilder so i see the ponit valid to me. will consider this at 1.17.x releases. and btw this requires this repo to follow semver taggings which is a prerequisite action item

[2019-12-30 04:08] weixiao-huang commented on #465
I think that following semver taggings is valid. I guess the current version `v1.16.alpha.0` means that it may match `kubernetes-1.16.0`. This version match may be unnecessary, for we can get kubernetes version in `scripts/print-workspace-status.sh` or using a better way.

[2019-12-30 16:09] yue9944882 commented on #465
the major and minor bits will be following the kubernetes' version while the patch version doesnt have to align. it will increment per releases starting from 0.

i will file a new release this week or next. that makes it `v1.16.alpha.1`

[2020-01-03 07:36] Young-china opened #469 "How to update spec and status"
Hi,

It's stupid question,  but I really need your help.

I'm trying to update the `Spec` and `Status` in Reconcile code, and only `Spec` were updated.

The apiserver-builder-alpha release is  `v1.16.alpha.1`

Here is my code:

[code]

My question is:
- What is the right way to update `Spec` and `Status`?
- Should I use `DeepCopy` before update?

I would appreciate you very much if can give an ans

[2020-01-03 11:38] yue9944882 commented on #469
yes, this is the expected behavior. `spec` and `status` are updated separatedly. moreover, the status update is supposed to be done by requesting corresponding sub-resource e.g.

https://github.com/kubernetes-sigs/controller-runtime/blob/4ba0a3b63c8580e39afb413da3209f5ffcb6b278/pkg/client/client.go#L182-L185

it depends on whether the instance is get from the cache or the real request payload. for

[2020-01-05 02:12] #469 closed

[2020-01-06 09:20] Young-china opened #470 "DefaultingFunction : undefined: <ResourceType>SchemeFns"
Hi ,

I upgrade my apiserver-builder-alpha  from a low version to `v1.16.alpha.1`,  but the DefaultingFunction report an error: `undefined: MachineSchemeFns`

I followed this [doc](https://github.com/kubernetes-sigs/apiserver-builder-alpha/blob/ef5d9b9c01aaa562ce3edc2724fd5d0ed0c8fa2e/docs/concepts/api_building_overview.md#create) to write my code :

[code]

[2020-01-06 09:25] yue9944882 commented on #470
the doc is out-of-date, i will refresh it later this week. as for defaulting, plz follow the examples at https://github.com/kubernetes-sigs/apiserver-builder-alpha/blob/master/example/basic/pkg/apis/miskatonic/v1beta1/defaults.go. which is aligning w/ the implementation of kubernetes/kubernetes

[2020-01-07 02:37] #470 closed

[2020-01-08 02:58] Young-china opened #471 "Do we have plan to support ConfigMap"
Hi,

Do we have plan to support `ConfigMap` such as in kubernetes.

I can create a resource to store my configs, of course. But it will be wonderful if we have a `ConfigMap`.

[2020-01-08 10:56] yue9944882 commented on #471
configmap should be provided by kube-apiserver, it's out-of-scope of an aggregated apiserver

[2020-01-09 01:07] #471 closed

[2020-01-13 07:05] #391 closed

[2020-01-18 00:13] EronWright commented on #465
For those following the Getting Started guide and getting a build error when using Go 1.13+, you'll probably stumble onto this page when you ask yourself why `go.mod` isn't being used yet.   The solution that worked for me was to set `GO111MODULE` to `off`.

[2020-01-25 05:43] #397 closed

[2020-01-25 05:43] #405 closed

[2020-01-25 18:56] #404 closed

[2020-01-27 10:35] #362 closed

[2020-01-28 03:21] weixiao-huang commented on #465
This is because that if we get go.mod from Gopkg.lock, the version of k8s will be upgrade to 1.17. So we should add replace to lock k8s's version to 1.16.

For solving these problems, I open https://github.com/kubernetes-sigs/apiserver-builder-alpha/pull/473 for using go modules.

[2020-02-06 08:35] Skillshot commented on #463
Is anybody going to fix this broken urls?
It has been a long time for now already.

[2020-02-06 16:53] yue9944882 commented on #463
added to my list, will take a shot this week or next.

[2020-02-07 12:06] Skillshot opened #474 "Support opting out the controller-manager binary generation when building a container"
I am using the apiserver-builder just to serve the records as a read-only API.
So, ideally, I would like to remove all the redundant files like controller-manager part from the project.
But when I build a container by calling `apiserver-boot build container` it complains:
[code]
Yes, I removed that main.go and would like to omit this build step.

Could you provide some command-line option for that

[2020-02-08 08:12] #358 closed

[2020-02-13 17:29] VitaliyShevchenko opened #475 "Informative Kubectl Printing"
Hey!

Guys, do you expect to support informative kubectl printing?
I saw there is `additionalPrinterColumns` property, that we can use to define custom columns, but how can we do the same using your lib?
Is there any way to implement my custom server-side printing?

Thanks!

[2020-02-15 08:57] #423 closed

[2020-02-19 02:48] #474 closed

[2020-02-19 07:46] Young-china opened #477 "How to execute `Reconcile func` parallelly"
Hi,

I defined a resource `job`, and create two instance `jobA` and `jobB`.

I found if `Reconcile jobA` didn't finished, `Reconcile jobB` will not start.

How can this two different instances exec the `Reconcile logic` without dependent on each other.

release: v1.16.alpha.1

[2020-02-19 08:51] yue9944882 commented on #477
the reconciliation is supposed to be working in parallel by multiple worker routines, by override the following option https://github.com/kubernetes-sigs/controller-runtime/blob/40070e2a1958c3d974ba95da883a2bd088137789/pkg/controller/controller.go#L33-L34

[2020-02-19 10:05] yue9944882 commented on #475
the equal way to support customized printing like `additionalPrinterColumns` is [customizing REST](https://github.com/kubernetes-sigs/apiserver-builder-alpha/blob/master/docs/adding_custom_rest.md) for specific resource. and you can also find code examples in this project:

https://github.com/kubernetes-sigs/apiserver-builder-alpha/blob/master/example/basic/pkg/apis/miskatonic/student_rest.go#L74-

[2020-02-19 11:10] VitaliyShevchenko opened #478 "CGO is disabled by default"
Hi!

I'm using [go-sqlite3 lib](http://mattn.github.io/go-sqlite3/) to interact with SQLite DB from the application.
At the same time, I'm using the apiserver-boot script to build docker image `apiserver-boot build container --image image_name`. Since the `go-sqlite3` is using C code, I need to set `CGO_ENABLED=1`, but it's hardcoded as `CGO_ENABLED=0` inside [the script](https://github.com/kubern

[2020-02-20 09:19] #477 closed

[2020-02-21 18:12] EronWright opened #479 "Update to Kubernetes 1.17.x"
There are various breaking changes in `k8s.io/apiserver v0.17.x` to be accounted for.

[2020-02-22 08:51] xjtustt opened #480 "Cannot use kubectl get my rest apiservice"
I follow [this guide](https://github.com/kubernetes-sigs/apiserver-builder-alpha/blob/master/docs/adding_custom_rest.md) to create my own apiservice.
After thatI can use `curl` to access my service via "apis/mygroup.my-domain/v1/meteringreports". But when I want to use kubectl to get the meteringreports list, I can see this output:
[code]
I added a `-v=8` to see log details and found an error that

[2020-02-25 11:56] VitaliyShevchenko commented on #480
I think you have to set `metav1.ObjectMeta.Name` for response in `List` method of `meteringreports` kind. Also, you can try to set `metav1.ObjectMeta.CreationTimestamp` as well. After that, you should be able to see at least `Name` after `kubectl get meteringreports`.

BTW, I saw a similar issue in the k8s. Here is [a PR (https://github.com/kubernetes/kubernetes/pull/85174/files) with fixes.

[2020-02-26 12:24] xjtustt commented on #480
@VitaliyShevchenko Thank you, your solution solves my problem.

[2020-02-26 12:40] xjtustt opened #481 "How to get namespace value for my custom REST request?"
I added a new custom REST rest resource `Report` and this is a namespaced api.
I want to use the namespace value in the List() and Get() method of the report_rest.go file.
For example, when I use `kubectl get reports -v=8` I can see the request url is
`https://host-name:6443/apis/mygroup.mydomain/v1/namespaces/default/reports`, I want to use the namespace value(default) in the List/Get method.  Bu

[2020-02-26 16:14] VitaliyShevchenko commented on #480
No problem! You are welcome.

[2020-02-26 18:44] VitaliyShevchenko commented on #481
When you are building your `config/apiserver.yaml`, using:
```apiserver-boot build config --name <servicename> --namespace <namespace to run in> --image <image to run>``` command. You have to provide **--namespace <namespace to run in>** argument, so basically you know in what namespace your custom resource is created.
If you take a look at your `config/apiserver.yaml`, you notice, that every reso

[2020-02-27 09:31] Skillshot commented on #475
Thank you for help.

[2020-02-27 11:46] VitaliyShevchenko opened #482 "ApiVersion is incorrect for Deployment and StatefulSet resources"
ApiVersion is incorrect for Deployment and StatefulSet resources.
After I generated `config/apiserver.yaml` and tried to `kubectl apply -f config/apiserver.yaml`. I got next errors:
[code]

[2020-02-27 11:58] VitaliyShevchenko commented on #482
#483

[2020-02-27 16:44] VitaliyShevchenko commented on #481
The other option is to get the namespace from request:
[code]

[2020-02-27 16:47] #475 closed

[2020-02-27 16:48] xjtustt commented on #481
That's what I wanted, thank you @VitaliyShevchenko !

[2020-02-27 16:53] #480 closed

[2020-02-27 16:54] #481 closed

[2020-02-28 05:00] yue9944882 commented on #479
bumping to 1.17 sounds compelling as the 1.18 is releasing very soon. i will take a shot this week or next..

[2020-02-28 05:03] yue9944882 commented on #478
mmm it should override the CGO option if it already exists in the env-vars.. will send a pull to make it override'ble

[2020-02-28 08:55] xjtustt commented on #480
@VitaliyShevchenko Sorry I found another issue about the output column template.
My resource Report is a namespace scoped resource. So I have the requirement to show reports in all namespaces.
I don't know where to define the default output column, my output only contains "NAME" and "AGE". I want to add a "NAMESPACE" column when user use "--all-namespaces" like what "kubectl get all po --all-names

[2020-03-03 02:17] #478 closed

[2020-03-15 19:35] VitaliyShevchenko commented on #482
[https://github.com/kubernetes-sigs/apiserver-builder-alpha/pull/488](url)

[2020-03-15 19:35] #482 closed

[2020-03-17 09:14] VitaliyShevchenko commented on #465
hey guys,
I saw there are a couple of PRs related to supporting go modules in this project.
@yue9944882 when do you expect to release this functionality?

[2020-03-17 16:47] yue9944882 commented on #465
@VitaliyShevchenko moving completely to go mod is planned in the very next release i.e. `v1.17.0`. but this will make bring some break changes to the command-line toolings. e.g. the `//+go:generate go run ./vendor/.../` annotations wont work any more. additionally the lastest release `v.1.16.2` is already supporting go mod in a way.

[2020-03-17 19:31] VitaliyShevchenko commented on #465
Great! It is nice to read that.

@yue9944882 if you need some help, you can ping me :)

[2020-04-03 21:20] EronWright commented on #479
Good job @yue9944882

[2020-04-03 21:20] #479 closed

[2020-04-07 05:13] yue9944882 opened #496 "Feat: Example project for adopting ElasticSearch as event storage"
/assign

[2020-04-28 04:10] xjtustt opened #500 "Admission controller errors when upgrade from 1.12 to 1.16"
I am new to apiserver-boot.

In my current project I use apiserver-boot to build a apiserver-aggregation to extend a APIService.
Previously I use apiserver-boot v1.12 to generate code and it works well.

But recently I want to upgrade the apiserver-boot to v1.16 to re-generate code structure but encountered some `admission controller errors`.

My steps are listed below:

1. `apiserver-boot init re

[2020-05-15 17:32] xjtustt opened #501 "Errors when use 1.17.0 to build apiserver-aggregation"
I use apiserver-boot 1.17.0 to build an apiserver-aggreation. I will create a REST resource and only use the Get and List method.

So when  run `apiserver-boot create group version resource`, I only type `y` for resource(`n` for both controller and admission controller).

When run the apiserver-aggregation, I can see tons of these errors,
[code]
For now the Get/List work as expected, but I need to

[2020-05-16 01:39] liabio opened #502 "Error Unresolved type in apiserver-builder-alpha\example\basic\pkg\apis\miskatonic"
![image](https://user-images.githubusercontent.com/21979752/82107080-92db0e80-9757-11ea-9acd-8d8c394acd45.png)
Unresolved type 'StudentComputer' 、NewStudentRegistry()、StudentRegistry

Unresolved type 'UniversityRegistry' 、UniversityCampus etc..

[2020-05-21 06:34] yue9944882 commented on #500
thank you for reporting this, as a workaround, can you try adding the following flags to your apiserver?

`--disable-admission-plugins= NamespaceLifecycle,MutatingAdmissionWebhook,ValidatingAdmissionWebhook`

[2020-05-21 06:41] yue9944882 commented on #501
the errors from list-watching [mutating|validating]webhookconfigurations is a duplicate of #500. switching off these plugins should work. while as for list-watching configmap, there's a new internal controller `ConfigMapCAController` introduced in the latest releases https://github.com/kubernetes/kubernetes/blob/323f34858de18b862d43c40b2cced65ad8e24052/staging/src/k8s.io/apiserver/pkg/server/dynam

[2020-05-21 06:42] yue9944882 commented on #502
these code are supposed to be generated. run `apiserver-boot build generated` inside specific example project should work

[2020-05-21 06:56] xjtustt commented on #500
@yue9944882 After I add the flags, the errors disappears. Thank you!

[2020-05-21 06:56] #500 closed

[2020-05-21 06:57] xjtustt commented on #501
Duplicate with #500

[2020-05-22 02:46] xjtustt commented on #501
@yue9944882 I need to reopen this issue since I found some other issues.
Let me give you some background information about this issue and #500 .

I use apiserver-boot to add a apiserver-aggregation layer for k8s and I only add a rest resource called `MeteringReport`(there are detail steps in #500 ).
My expected behavior is that user can use `kubectl` to get/list the resource `MeteringReport`.

Bef

[2020-05-22 04:39] yue9944882 commented on #501
@xjtustt can you check if there's error status on your registered `APIService` resource? 503 normally suggests something's wrong w/ the APIService configuration (instead of apiserver itself)

[2020-05-22 05:56] xjtustt commented on #501
@yue9944882
Thank you for your feedback. Since I have restarted the container so now the status of APIService looks good. Could you help me to check whether the configuration is correct?
[code]

Besides, I want to describe some more about how I do the authentication.
At the first step, I followed this [document](https://github.com/kubernetes-sigs/apiserver-builder-alpha/blob/master/docs/running_in

[2020-05-22 12:46] yue9944882 commented on #501
@xjtustt ur apiservice should work as far as i can tell. and the status shows that the connectivity is good.

W0522 02:18:36.150564       1 configmap_cafile_content.go:102] unable to load initial CA bundle for: "client-ca::kube-system::extension-apiserver-authentication::requestheader-client-ca-file" due to: configmap "extension-apiserver-authentication" not found

i think these lines are just mil

[2020-05-22 16:38] xjtustt commented on #501
@yue9944882 ,
I reproduced this issue again, at this time, APIService status is GOOD,
[code]
 When I use `kubectl get meteringreport -v=8` I found some errors:
[code]
This line of error `Post https://172.30.0.1:443/apis/authorization.k8s.io/v1beta1/subjectaccessreviews: http2: no cached connection was available` appears multiple times in different scenarios. Do you know what it means?

[2020-05-28 11:14] yue9944882 commented on #501
i found similar issues in the kubernetes upstream repo:
https://github.com/kubernetes/kubernetes/pull/53318#issue-144103905
https://github.com/kubernetes/kubernetes/issues/33557

it seems like a scalability issue in http2 go libraries.. not sure how to deal w/ the issue, let me take a further look

[2020-06-04 11:52] rivencxl opened #504 "Duplicate install health checkers for etcd"
If set the flag delegated-auth to true (the default is true), then it will encounter an error:
[code]

[2020-06-09 15:54] chinglinwen opened #506 "go.mod auto update causing build binary fail"
## background
ProjectB(apiserver-builder-alpha) referenced a ProjectA( operator-sdk,kube-builder), using v0.18.2 version.

go.mod file auto updated follwing packages to v0.18.2(when build), so I can't change go.mod back to old version.
[code]
## problem

[code]

[code]

[2020-06-10 02:36] chinglinwen commented on #506
I use the following replace in go.mod file, a new error occurs

[code]

[code]

[2020-06-10 02:55] chinglinwen commented on #506
using following replace fixed it

[code]

[code]

[2020-06-12 05:51] yue9944882 commented on #506
@chinglinwen there was an incompatible change involved in the kubernetes upstream where a bunch of client interfaces were refactored since 1.18+. this will be resolved after bumping the mod dependencies to 1.18

[2020-06-12 07:11] chinglinwen commented on #506
Since, the replace directive in go.mod can fixed the problem. I'm okay with the current pkg versions.

[2020-06-12 10:11] #504 closed

[2020-06-17 03:34] smartkuk opened #507 "question of apiserver-boot binary"
I have a question.

I want to change the Kubernetes version of the extension api server and controller manager source I made,
To do this, do I need to download the apiserver-boot binary file for each version of Kubernetes, give the generated option, and generate code?
Or is there a guide document on this?

[2020-06-18 07:27] yue9944882 commented on #507
https://github.com/kubernetes-sigs/apiserver-builder-alpha#guides

i believe the guides on the README page will help

[2020-06-19 01:45] smartkuk commented on #507
I read the guides and made my own api extension server.

But I want to create my own api extension server per kubernetes versions(1.16, 1.17, ...).

So I write my question on this repository issue.

Thanks

[2020-06-19 06:31] yue9944882 commented on #507
@smartkuk mmm.. as far as i know, api extension apiserver's version is independent from kubernetes' version. e.g. an 1.16 api extension apiserver will work in 1.18 kubernetes cluster.

[2020-06-30 02:26] #507 closed

[2020-06-30 02:35] smartkuk opened #509 "Add new subresource"
Hello~

Currently, I have implemented both api extension server and controller-manager. These modules are configured to run outside of Kubernetes cluster.

The created resource name is Application, I tried to follow the documentation([adding subresource]) to add the scale sub resource to it.

The purpose of creating this resource is to use the following command.

[code]

[code]
The above error occ

[2020-06-30 04:56] smartkuk commented on #509
I did this experiment, but the phenomenon is unusual.
If set to ApplicationScale string as below source, both api extension server and controller manager started.

[code]

When the scale command is sent, the deployment responds and actually works, but the result of executing the kubectl command produces the following error.

[code]

Help me~

[2020-06-30 05:02] smartkuk commented on #509
additional description!, my subresource is :

[code]

I removed generated sources and changed.

[2020-06-30 09:40] yue9944882 commented on #509
return autoscalingv1.SchemeGroupVersion.WithKind("Scale")
}

i believe the code above is correct for adding scale subresource.

however, the complaining error is suggesting that the Scale subresource is not properly registered. can you try workaround by registerring the scale subresource manually by e.g. :

[code]

[2020-06-30 09:45] yue9944882 commented on #509
i just opened https://github.com/kubernetes-sigs/apiserver-builder-alpha/pull/510 to help get rid of the error. the suggested code in my previous comment should also work as a prompt workaround

[2020-07-01 03:12] smartkuk commented on #509
Thank you for answer~

I add some codes by your comment. But I have some error like this

[code]

The above code have compile error: ***cannot use builders.Scheme (variable of type *runtime.Scheme) as *runtime.Scheme value in argument to clientscale.AddToScheme***

How to convert these scheme, Is there a convert util???
Can I convert Scheme to Scheme by implementing?

[2020-07-01 08:02] yue9944882 commented on #509
mmm.. i can't find any clue from the error, can you refer to the change by https://github.com/kubernetes-sigs/apiserver-builder-alpha/pull/510?

[2020-07-06 03:13] smartkuk commented on #509
It seems that I have struggled for a long time and solved the related problem, but I am not sure, so I write again here.
***Can you confirm that the process I did is right?***
I made the scale command work on my resource with the following process.

* STEP 1.

[code]

* STEP 2.

[code]

* STEP 3.

Implement functions such as Create, Update, and Get in the scale_application_rest.go file

* STEP 4.

[2020-07-06 06:40] yue9944882 commented on #509
@smartkuk i think so. and i had similar solution for our internal projects, it will be working as expected. plz feel free to open issues on any question.

[2020-07-06 07:03] smartkuk commented on #509
Thanks for the comments.
Using apiserver-builder-alpha to create a Kubernetes extended API server and controller manager is too hard.
I'm glad you helped me. Thanks again.
Maybe I will continue to ask questions through issues

[2020-07-06 07:03] #509 closed

[2020-07-08 05:10] smartkuk opened #511 "pathrecorder.go /healthz/etcd error"
Hi~ I'm back... I have some error logs.

When I run the extended API server I get the following error:

I tried because [issue #500] is similar to what I'm going through, but I get the same error.

Of course, there is nothing about the extended API server as [issue #500]. But I want to get rid of this error, or implement a source I don't know to get rid of the error.

***Can you guide(any options,

[2020-07-30 13:21] yue9944882 opened #517 "Gengo gets extremely slower on go mod projects, migrating to controller-tools will ease the pain"

[2020-08-03 16:35] ivcosla opened #518 "Help running apiserver in a local minikube cluster"
I have been trying to run `apiserver-boot run local-minikube --build=false` as explained in the docs (which haven't been updated since 2017) https://github.com/kubernetes-sigs/apiserver-builder-alpha/blob/master/docs/running_in_minikube.md without success under the release `1.18.0`.

I will explain below what errors I get and how I have got around some of them in case it's useful. I'm not sure if

[2020-08-07 11:21] yue9944882 commented on #518
thanks for reporting, `apiserver-boot run local-minikube`. i didn't get a chance to run this in my local environment yet, i will get back w/ more feedbacks later.

did you try setting `insecureSkipTLSVerify: true` in your apiservice's spec?

[2020-08-07 13:54] ivcosla commented on #518
Yes, if I use `insecureSkipTLSVerify: true` it works, Thanks for your help!

[2020-08-14 21:46] #465 closed

[2020-08-17 17:55] clarkmcc opened #519 "init repo not working with Go Modules"
I'm trying to run `apiserver-boot init repo` but I keep getting the error

[code]

Is there a reason that I can't run this in a go module?

[2020-08-18 12:07] yue9944882 opened #520 "Storage layer scaffolding for aggregated apiserver"
in order to assist developers to build aggregated apiserver upon different storage persistent layers quick and easily, we will provide a set of pre-built storage layer implementation for several commonly-used storage backends:

- [ ] Mysql/PGsql
- [ ] ElasticSearch
- [ ] Git
- [ ] Filepath
- [ ] MongoDB

[2020-08-18 12:25] weixiao-huang commented on #520
How about supporting mongoDB, which is a popular NoSQL and may be used in many projects

[2020-08-18 12:29] yue9944882 commented on #520
@weixiao-huang sgtm, i will start w/ one low-hanging fruit like Mysql and we will see how that goes..

[2020-08-18 12:34] yue9944882 commented on #519
thanks for reporting this, will open a fix soon

[2020-08-21 02:34] smartkuk commented on #511
I haven't had an answer for too long, so I'll add an additional explanation... I'm running my extended API server outside the Kubernetes cluster, not inside. Even if I look at the error log and follow the source, I don't know how to make it skip that url path without reading it.

Anyone can help?

The log contents and shell script below are the logs displayed above the log above. The same is true

[2020-08-24 06:48] smartkuk commented on #511
I've figured out how to avoid errors, but I ask @yue9944882 in charge(maybe) of the project:

In k8s.io/apiserver/pkg/server/options/etcd.go source, it is executed on lines [func ApplyTo] and [func ApplyWithStorageFactoryTo] and creates and adds a &healthzCheck{name, check} object with a duplicate "etcd" name.

At this time, If ```delegated-auth=false``` is specified, the error is avoided by proce

[2020-08-24 07:18] soilerl opened #524 "Can not get zz_generated.api.register.go in pkg/controller"
I follow the guide step by step and i didn't get any error. However, in my project i can't find the  zz_generated.api.register.go in the path pkg/controller. Please help me.

[2020-08-24 07:31] yue9944882 commented on #511
@smartkuk sry for the delayed response, i will take a look at this soon later!

[2020-08-24 07:31] yue9944882 commented on #511
/assign

[2020-08-25 05:21] yue9944882 commented on #524
what version are you using?

[2020-08-25 06:17] soilerl commented on #524
I am using 1.16.alpha.2

[2020-09-03 04:16] #463 closed

[2020-09-04 06:42] #496 closed

[2020-09-10 14:11] hemanthgk10 opened #534 "Certs created by repo fails the APIService registration"
Steps to create the issue:

1. Create an aggregated-api service using the `apiserver-boot` cli.
2. Create the config with `apiserver-boot build config --name <svc_name> --namespace <ns> --image <image_name>`
3. Step 2 creates the certs and uses that it in the manifests of APIService and the Deployment secrets.
4. Try registering the APIService, we will see below errors in the log files of the Kube

[2020-09-10 14:15] hemanthgk10 opened #535 "apiserver-boot config doesn't create the required rolebinding for `extension-apiserver-authentication-reader `"
Logs of the created aggregated-api server throws below logs.

[code]

Not sure if this is on purpose, if so, maybe we should document this.

[2020-09-14 22:53] clarkmcc opened #536 "Generated UpdateStatus returns desired value for Status but zero value for Spec"
I'm finding that the generated `UpdateStatus` method returns the full resource, but the `Spec` is all zero values and the `Status` contains the updates as provided to the `UpdateStatus` method.

I'd be happy to provide a minimum reproducible repo, however first I wanted to make sure this wasn't either:
1. Expected behavior from the API Server
2. Expected behavior from the generators in this repo

[2020-09-14 23:10] clarkmcc commented on #536
After further review, it looks like this may be expected. Looking at the client stub

[code]

it's a by-product of the `SubResource` method. It seems a little inconvenient because the result is virtually unusable in the standard method of working with resources in steps. I can no longer do the following:

[code]

Because this looks like intentional (albeit inconvenient) behavior, I'll close this f

[2020-09-14 23:10] #536 closed

[2020-09-22 00:25] clarkmcc opened #537 "Field selectors on generated resources"
I'm getting the following error when doing a `List` using field selectors. Is it possible to add support for additional field selectors on resource types that I've created?

[code]

[2020-09-25 14:12] VitaliyShevchenko commented on #537
yeah, that's possible.
you can use `builders.Scheme.AddFieldLabelConversionFunc` methods to add more needed labels.
You need to pass group version of the resource and a function...
here is an example: https://github.com/kubernetes-sigs/apiserver-builder-alpha/blob/master/example/basic/pkg/apis/olympus/v1beta1/register.go#L13

[2020-09-28 07:34] yue9944882 opened #541 "[Announcement] Decoupling SDK framework to sigs.k8s.io/apiserver-runtime"
both this repo and [kubebuilder](https://github.com/kubernetes-sigs/kubebuilder) are founded to address the pain-points in developing extensions for kubernetes. by kubebuilder's [philosophy](https://github.com/kubernetes-sigs/kubebuilder/blob/master/DESIGN.md#overarching), to reduce the "heavy" code-generation and copy-pasting, an SDK framework dedicated for developing kubernetes controller named

[2020-10-05 13:38] nikhita opened #543 "Update references to kubernetes-incubator"
The [kubernetes-incubator org](http://github.com/kubernetes-incubator) has been deprecated - https://github.com/kubernetes/community/issues/1922.

This repo still contains `kubernetes-incubator` in it's go.mod (refers to http://github.com/kubernetes-incubator/reference-docs which has moved to https://github.com/kubernetes-sigs/reference-docs) and in it's Makefile:

https://github.com/kubernetes-si

[2020-10-06 16:55] drewwells commented on #519
Any updates on this?

[2020-10-07 19:01] drewwells opened #544 "apiserver-boot build container contains too much magic"
This command needs to be decomposed. It currently regenerates all the autogen code, stamps out a dockerfile, builds apiserver and the controller. This is great for novice user, but does not lend itself to advanced cases. Most importantly, the dockerfile itself should checked into code so users can change the base image and add their own tools to the dockerfile.

Use case: I want to create a CICD j

[2020-10-10 09:17] #506 closed

[2020-10-12 06:48] yue9944882 commented on #544
@drewwells thank you for reporting this and i agree so. in the next release the apiserver-boot command will be merely doing the project initialization and scaffolding (one-time code-generation) and leave the developers to edit the generated codes. as for generators, we're removing them from this project and instead leveraging (controller-tools)[https://github.com/kubernetes-sigs/controller-tools]

[2020-10-12 07:12] yue9944882 commented on #543
@nikhita thanks for reminding! fixed it by #545

[2020-10-12 07:12] #543 closed

[2020-10-12 16:53] drewwells commented on #544
Sounds good 👍 . Can this issue be closed or does it need to be used as reference for the mentioned work?

[2020-10-19 16:42] drewwells commented on #535
It's a recent fix and has not been released. You have to build from master to get the necessary RBAC. Also make sure not to specify minikube as the rbac does not get rendered. https://github.com/kubernetes-sigs/apiserver-builder-alpha/blob/master/cmd/apiserver-boot/boot/build/build_resource_config.go#L498

[2020-10-19 18:09] drewwells commented on #98
Documentation would at least be useful here. There's a single example of non-etcd but there's no examples of how to use it.

[2020-10-19 19:22] drewwells opened #546 "New release coming?"
https://github.com/kubernetes-sigs/apiserver-builder-alpha/compare/v1.18.0...master

There's a decent number of changes since 0.18.0. Some of the examples like non-etcd will build easier with go.mod if there's a release. Is a release planned soon?

[code]

[2020-10-19 19:56] drewwells opened #547 "How to remove etcd dependency"
The apiserver builder generates etcd client code by default, even if rest.Storage is implemented and no etcd-server arguments are configured. There's a storage-backend cli argument but I don't see any mention of this in the project. Also, the kine and non-etcd examples seem to likewise require a running etcd.

How is an alternative  storage-backend used to remove etcd?removed?

[code]

[2020-10-19 20:04] drewwells commented on #547
The flag and etcd requirements come from `RecommendOptions` https://github.com/kubernetes-sigs/apiserver-builder-alpha/blob/master/pkg/cmd/server/start.go#L56

[2020-10-19 21:04] clarkmcc commented on #517
Noticing a significant amount of time and resource to run `apiserver-boot build generated`. What is the solution here?

[2020-10-20 13:11] gmrodgers opened #548 "Errors in generated code by `apiserver-boot build generated`"
Hey folks,

We are quickly trying to use one of the existing examples of apiservers in the `/examples` directory.  It seems when we try and generate/run the server we get errors in the generated code.

[code]

An example of the erroring code (in the PodLogs example) in question looks like:
[code]

which we believe corresponds to:
[code]

The version of the `apiserver-boot` we are using:
[code]

We

[2020-10-20 14:04] drewwells opened #549 "filepath does not implement rest.Scoper"
`error in registering resource: contacts, "burger" must implement scoper`

The storage backend has to implement rest.Scoper

[2020-10-20 19:55] drewwells opened #551 "custom REST storage backends do not register schema"
I think this will lead to documentation rather than any sort of bug. I took the apiregistration objects and generated code from this project and deployed it to k8s (KIND, but also tried K8s 1.17.x). The pods controller/apiserver become ready and apiservice is marked ready. However, I'm unable to deploy a CR for this registration or fetch it.

create
[code]

list
[code]

[2020-10-20 19:59] drewwells commented on #551
[code]
The aggregate api does not show up in `kubectl api-resources`

[2020-10-21 01:58] #502 closed

[2020-10-22 10:02] yue9944882 commented on #517
@clarkmcc now we're pruning all generators except for `deepcopy-gen` which can be provided by `controller-tools`. the [apiserver-runtime](https://github.com/kubernetes-sigs/apiserver-runtime/blob/main/sample/pkg/apis/sample/v1alpha1/flunders.go) is supposed to replace the old generators.

[2020-10-22 10:07] yue9944882 commented on #517
note that the `build generated` command is already removed on the master branch

[2020-10-22 13:47] clarkmcc commented on #517
@yue9944882 Thanks, where can I go to read more/stay up to date about the progress and changes on that?

[2020-10-23 07:41] yue9944882 commented on #517
@clarkmcc still working on it. there will be more documentation as soon as the new release is out.

[2020-10-23 08:08] yue9944882 commented on #551
it looks that all the APIService-related configurations are good, can you verify if the resource is served in your aggregated apiserver?

[2020-10-23 09:13] yue9944882 commented on #546
@drewwells yeah there will be a new release very soon, we're sort of delayed b/c of prepping the next kubecon. we're hopefully seeing it by the end of october!

[2020-10-23 09:17] yue9944882 commented on #548
i would recommend not to directly reference the packages under example project, at least for the current stage. these examples are basically just demo for showing you the project structure and regression testing in the CI jobs.

[2020-10-25 01:16] drewwells commented on #551
Contacted the apiserver directly and see this
[code]

[code]

[2020-10-25 01:23] drewwells commented on #551
Comparing responses with cert-manager, I see no verbs on my api server object
[code]

[2020-10-25 03:25] drewwells opened #557 "suite_test overrides provided AggregatedAPIServerFlags"
It's not possible to override the server flags to local aggregate apiserver with the test framework. The pkg/test/suite is gone now, so I'm not sure where this bug belongs anymore. apiserver-runtime?

[2020-10-25 03:27] drewwells commented on #551
Issue is reproducible should be producible in the example/non-etcd example. Just run the ./examples/non-etcd/pkg/controller/burger suite test to see it. The test will fail to build due to #550

[2020-10-25 06:16] drewwells commented on #551
Figured out the issue, b/c jsonfile_rest does not implement watcher. It does not work properly with controllers. I can add a PR, but the code no longer lives here. So it will have to get copied somewhere else.

[2020-10-25 13:43] #501 closed

[2020-10-26 02:43] yue9944882 commented on #557
yes, the testing framework will also be moving to the runtime, leaving the necessary code-generation for scaffolding in this repo.

[2020-11-19 16:10] l-qing opened #568 "[Bug]`example/kine` and `example/podexec` cannot be successfully constructed"
Only `example/basic` works.

# `example/kine` failed
[code]

# `example/podexec` failed
[code]

# Env
## Version v2.0.0-alpha.0
apiserver-builder-alpha commit: c1e3ccc445efb29dd9f7efff107c2bd059b3efd3
go version: go1.15.5 linux/amd64
uname: Linux xx 4.15.0-124-generic #127-Ubuntu SMP Fri Nov 6 10:54:43 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
apiserver-boot version:  Version: version.Version{Apiser

[2020-11-20 08:29] yue9944882 commented on #568
we removed code-generators from this project. you need to run `controller-gen object:headerFile="hack/boilerplate.go.txt" paths="./..."` to do a minimal code-generation.

extending arbitrary subresource is not yet supported in the new framework, but we will be getting it very soon

[2020-11-20 09:24] l-qing commented on #568
Thank you for your reply.

[2020-12-02 18:23] clarkmcc commented on #520
I would be happy to take on the MongoDB implementation if needed, I have some background with that product.

[2020-12-14 17:04] drewwells commented on #568
The examples do not work even with code generation. `server.StartApiServerWithOptions` was removed

Are the examples built as part of a PR build?

[2020-12-16 07:57] ttlv opened #569 "can't run local"
Hey,folks
It's my first time to use apiserver-builder-alpha framework to generate a Aggregated APIServer but I got some problems in it. v2.0.0-alpha.0 is the version of apiserver-boot.
[code]
first step I run
[code]

and then I run

[code]

and next I copy etcd bin in my path so I run

[code]
When I run this command and then I got some error,I will show my logs below
[code]
the command --standalon

[2020-12-18 04:08] ttlv commented on #569
well I have found that why --standalone-debug-mode is missing, because of the code which auto generated by apiserver-boot missing something just like
[code]

[2020-12-24 05:36] #524 closed

[2020-12-25 18:50] clarkmcc commented on #537
/close

[2020-12-25 18:50] #537 closed

[2021-01-04 15:30] #518 closed

[2021-01-05 00:30] drewwells commented on #519
/remove-lifecycle stale
bump

[2021-01-21 09:01] #511 closed

[2021-01-21 12:33] #546 closed

[2021-01-22 11:19] kinderyj opened #572 "Failed to build the api-server by using the apiserver-boot"
1)
mkdir $GOPATH/src/github.com/test/demo-apiserver

cd $GOPATH/src/github.com/test/demo-apiserver

curl -o boilerplate.go.txt https://github.com/kubernetes/kubernetes/blob/master/hack/boilerplate/boilerplate.go.txt

apiserver-boot init repo --domain test.me

apiserver-boot create group version resource --group demo --version v1beta1 --non-namespaced=true --kind Foo

apiserver-boot create subresou

[2021-01-25 02:30] kinderyj commented on #569
The steps in this issue also can't run local for me.
apiserver-boot version: v2.0.0-alpha.0
etcd Version: 3.4.14
Go Version: go1.12.17
Go OS/Arch: darwin/amd64

1. apiserver-boot init repo --domain harmonycloud.cn
2. apiserver-boot create group version resource --group edge --version v1alpha1 --non-namespaced --kind NodeMaintenance --short-name nm
3. apiserver-boot run local

ERROR found:
I0125 10

[2021-01-31 20:07] #520 closed

[2021-02-02 11:24] writethesky commented on #569
So what do I need to do to solve this problem

[2021-02-02 11:48] writethesky commented on #569
3Q I know

[2021-02-05 05:56] clarkmcc commented on #572
What's the output of go env?

[2021-02-07 15:48] #534 closed

[2021-02-25 09:44] #541 closed

[2021-03-11 19:24] #544 closed

[2021-03-17 01:09] l-qing commented on #568
/close

[2021-03-17 01:10] #568 closed

[2021-03-18 19:08] #535 closed

[2021-03-18 22:11] #547 closed

[2021-03-19 16:29] #549 closed

[2021-03-22 09:32] #517 closed

[2021-03-22 11:34] #548 closed

[2021-03-24 08:17] #551 closed

[2021-03-25 04:37] #557 closed

[2021-03-29 16:30] raffaelespazzoli opened #583 "[question] why is etcd needed when using a different storage"
hello, I'm building an api-server with a similar approach to the non-etcd example.
When the api-serve rtarts it complains that it needs the `--etcd-servers` parameter.
After I set some value there, the process tarts and I can see that it tries to connect to etcd.
Why is this needed if I am not using etcd as the storage?

[2021-03-30 12:04] raffaelespazzoli opened #584 "[question] how to add more command line parameters"
hello, I'm writing an apiserver with a custom storage. I need to be able to add a few more command line parameters to initialize the custom storage. What is the best way to do it?
apiserver-builder seems to be using cobra, but I am not sure how to append the parameters I need to the list it already creates.

[2021-03-30 15:40] raffaelespazzoli opened #585 "[question] apis don't seem to be published: 404 in apiservice status"
hello, I believe I have successfully deployed my first apiserver built with apiserver-builder-beta. My apiservice status looks as this:
[code]
I interpret this as being the master api calling that path on the my apiserver and getting a 404.
On a good note, if I make that call with a simple curl command I get a 403, so authn/authz delegation works.
The question is why the 404/not found?
I am publis

[2021-04-01 21:50] raffaelespazzoli opened #586 "[bug] Get returns object but it is interpreted as not found by the api-server"
hello, I'm developing an api server with a custom storage.
I see a situation where the Get implementation go the storage interface returns a value, but the result is a not found for the client making the request.
I had noticed the same error for the filepath storage example storage implementaiton, which I'm using as a model, but didn't think much about it, but now I'm starting to thin that there m

[2021-04-01 21:51] raffaelespazzoli commented on #585
solved.

[2021-04-01 21:51] #585 closed

[2021-04-03 14:08] raffaelespazzoli commented on #586
some development on this one. if the `-o yaml` parameter is present an object is actually returned:
so here is the behavior:
[code]
while:
[code]
what could be the reason?

[2021-04-05 03:11] clarkmcc commented on #519
/remove-lifecycle-stale

[2021-04-05 03:11] clarkmcc commented on #519
/remove-lifecycle stale

[2021-04-12 09:27] yue9944882 commented on #583
@raffaelespazzoli that's b/c the apiserver is mostly re-using the original kube-apiserver's code where non-etcd storage is not supported. usually as a workaround, we can set a dummy etcd address, what storage backend are you actually replacing etcd?

[2021-04-12 09:31] yue9944882 commented on #584
@raffaelespazzoli are you already using [apiserver-runtime](https://github.com/kubernetes-sigs/apiserver-runtime)? if that is the case, you can add flags to the cobra commands e.g. `cobra.Command#Flags()`

[2021-04-12 09:54] yue9944882 commented on #586
@raffaelespazzoli interesting, i believe the filepath is working fine while can you share w/ me more log by increasing verbosity `-v8`? it looks like something wrong w/ the kubectl client-side..

[2021-04-12 11:47] raffaelespazzoli commented on #584
I'm afraid I don't fully get the questsion, I'm starting my server like this:
[code]
I see the apiserver-runtime being imported in the import list.
I saw that cobra was being used, can you make an example of how to add new parameters to the cobra.Command embedded in the apiserver?

[2021-04-12 11:50] raffaelespazzoli commented on #583
I'm building an api-proxy more than a proper api-server, so my api-server is proxying calls to hashicorp vault (which of course is, in turn, an api-server, just with different conventions/models). Here is my work in progress:
https://github.com/raffaelespazzoli/vault-apiserver

[2021-04-12 12:53] raffaelespazzoli commented on #586
this is the output as requested:
[code]
I have a hypotheses of what is going on. The kubectl caches the types structure by interrogating the openapi endpoint. Then it uses the column definition metadata to construct the columnar output. But there is no openapi metadata for my api as I am not able to add that feature to my apiserver. Here is what I get when I try this:
[code]
I get the following:
[

[2021-04-13 09:02] yue9944882 commented on #586
mmm it looks that ur customized storage passed from `vaultstorage.NewVaultMountStorageProvider()` enabled server-side printing via implememting `TableConverter` interface but w/ a dummy implemention (probably returning a null Table instance there). server-side printing is supposed to be disabled by default unless the `TableConverter` interface assertion works on ur customized storage instance. can

[2021-04-13 09:05] yue9944882 commented on #584
@raffaelespazzoli sure, if you navigate into the implementation of `Execute()` at the end of the builder flow, you will find that that is exactly where we're creating a cobra.Command instance. in order to add flags, you can do sth like the following code instead:

[code]

[2021-04-13 09:08] yue9944882 commented on #583
@raffaelespazzoli mm how did observe the fact that ur apiserver is actually connecting the dummy etcd? is there any logging to share w/ us plz?

[2021-04-13 09:56] yue9944882 commented on #583
[code]
by setting the etcd address to a constantly-failing address, i found a few WARN level log message from the local apiserver. they're baiscally negligible and doesnt influence the apiserver from working, see #587

[2021-04-13 10:12] yue9944882 commented on #583
after digging a bit further, i found that the warning messages above is actually caused by the etcd health checker from the kube-apiserver which cannot be disabled as far as i can see. but the bright side is that it wont fail the apiserver from running..

[2021-04-13 11:59] raffaelespazzoli commented on #586
I copied this from the file storage implementation:
[code]
so I guess what you are saying is that I should just remove this function...

[2021-04-16 07:59] yue9944882 commented on #586
@raffaelespazzoli can you try `kubectl get --raw="/apis/vault.redhatcop.redhat.io/v1alpha1"` and share us the output?

[2021-04-16 08:00] yue9944882 commented on #583
i cut a new release of apiserver-runtime in which etcd dependency can be completely removed by having `WithoutEtcd()` in the builder flow. can you try?

[2021-04-16 11:56] raffaelespazzoli commented on #586
here it is:
[code]

[2021-04-16 12:30] raffaelespazzoli commented on #583
It worked, thanks.

[2021-04-16 12:30] #583 closed

[2021-04-18 21:01] nfrush commented on #572
I'm getting the same error.

[2021-04-18 21:13] nfrush opened #590 "[bug] Missing documentation on doing custom REST on master"
Currently, the documentation on custom REST assumes that the apiserver-builder-alpha package still contains pkg/builders (which it does not). Running ```make generate``` results in the following error:
[code]
Running ```go get sigs.k8s.io/apiserver-builder-alpha/pkg/builders``` results in:
[code]
What is the correct way to now override default REST handlers (i.e. Getter/Setter/etc)

[2021-04-20 10:48] chinglinwen opened #591 "Generated clientset error for plural, should default to not have plural"
Generated clientset error for plural, should default to not have plural.

Normal reconcile is ok, but if trying watch from generated clientset. it got following error.

[code]

not sure if this flag helps, it seems generated lrmpls_types.go have no difference with this flag.
I'd say make it default to not have plural for object kind with s suffix.

[code]

## Version
[code]

[2021-04-29 18:01] raffaelespazzoli commented on #586
I was able to make it work deleting the `ConvertToTable` method.
this was my output:
[code]
is there support for controlling the displayed columns?
My api definition has the look like this:
[code]
so it seems that the `+kubebuilder:printcolumn:name:` annotations are not honored.

[2021-04-30 09:16] chinglinwen opened #593 "v2.0.0-beta.0 kubectl create object fail ( no openapi endpoint? )"
It seems that apiserver-builder-alpha v2.beta.0's api(standalone debug mode) doesn't provide openapi URI anymore( it does with v1.18.0),  currently, I found that it cause kubectl fail to create object ( using code to create object is ok ).

[code]
I tried with kubectlv1.21.0 apply -f bee.yaml -v7, same error

<details>
<summary>apply error logs</summary>

$ kubectl apply -f node.yaml  -v9
I0430 15

[2021-05-11 12:06] raffaelespazzoli commented on #584
I am not able to make this approach work, probably because I am unfamiliar with Flags. here is what I am doing:
[code]
I am getting a segfault on the last line:
[code]
any idea of what the problem might be?

[2021-05-11 14:01] raffaelespazzoli commented on #584
I was actually able to make this work. We can close this.

[2021-05-11 14:01] #584 closed

[2021-05-12 07:17] chinglinwen commented on #593
after adding generate openapi ( as it does with v1.18.0 )
[code]
and add `WithOpenAPIDefinitions("api", "v1alpha1", openapi.GetOpenAPIDefinitions).` to apiserver, it now works for creating object from kubectl command.

[code]

[2021-05-12 13:18] raffaelespazzoli opened #594 "v2.0.0-beta code generators don't seem to run"
hello I'm trying the v2.0.0-beta binary.
when I run the `build executables`, I get the following:
[code]
This error indicates that the code generators have not run, but from the doc, `build executables` should also run the code generators. The explicit command to run just the code generators I think has been removed.
Any suggestions?

[code]

[2021-05-26 06:13] NickNYU opened #595 "[build fail] build executables fail due to unknown controller manager"
## Base Info
### Env
|Env | Detail |
|----|-------|
|OS|MacOs - Darwin x86_64|
|apiserver-boot version|I0526 14:05:24.701976   22205 version.go:57] Version: version.Version{ApiserverBuilderVersion:"v1.18.0", KubernetesVendor:"kubernetes-1.18.4", GitCommit:"d5fdf8c1b65a7c6068806b540998889ec5114c36", BuildDate:"2020-06-24-19:17:37", GoOs:"darwin", GoArch:"amd64"}|
|bazel --version| bazel 3.2.0|
|go

[2021-05-31 13:09] raffaelespazzoli opened #596 "support for dynamic type registration"
Does apiservice-builder support dynamic type registration?
So, let's sat an apiservice is configured to serve apis in the domain `a.b`. If a new CRD is created in that domain, is there some support in apiservice-builder to dynamically register that api and start serving it?
This is the normal behavior for the main apiserver and I'm wondering if apiservice-builder can support the same. In all the e

[2021-07-02 13:39] #569 closed

[2021-07-05 15:57] ruicao93 opened #599 "Any support plan for OS=darwin && ARCH=arm64?"

[2021-07-15 08:08] zhaoli2333 commented on #594
i ran into the same problem

[2021-07-21 05:40] chinglinwen commented on #591
using controller-runtime's client, not have this issue, closing.

[2021-07-21 05:40] #591 closed

[2021-07-23 10:09] erwinvaneyk commented on #594
To fix it manually for now you need to run `make generate` before `apiserver-boot build executables`

[2021-08-17 09:06] laik opened #600 "Refer to the demo ,prompt apiserver "The apiserver binary doesn't seem to support --standalone-debug-mode""
ubuntu-linux-20-04-desktop ➜  demo-apiserver apiserver-boot run local
I0817 17:05:14.530813  591058 build_executables.go:180] CGO_ENABLED=0
I0817 17:05:14.530857  591058 build_executables.go:190] go build -o bin/apiserver cmd/apiserver/main.go
I0817 17:05:17.278883  591058 build_executables.go:213] go build -o bin/controller-manager cmd/manager/main.go
I0817 17:05:18.914370  591058 local.go:265] W

[2021-08-17 10:09] #600 closed

[2021-08-23 13:20] BenjaminHuang opened #601 "apiserver-boot does not call code generator automatically?"
The version I'm using:
[code]

After I ran create sub command and scaffolded the project, I tried to run apiserver-boot build generated, but this sub command no longer exists. So, I ran apiserver-boot build executables. Unfortunately, I got below issue. Should I place the code generator in PATH before hand?

[code]

[2021-09-02 04:46] #519 closed

[2021-09-10 06:24] BenjaminHuang commented on #601
same as #594

[2021-09-10 06:24] #601 closed

[2021-09-13 04:19] BenjaminHuang commented on #594
It seems the build generated sub command and apiserver-gen was removed in 3e2c9a9c445b118c3e11e188e57c0997721a9b14.  It'll be appreciated if details of the change reason could be provided.

[2021-09-13 05:09] yue9944882 commented on #594
the functionalities for doing code-generation is removed from this project b/c [controller-tools](https://github.com/kubernetes-sigs/controller-tools) will a stable alternative working for us to do such thing. plz try the following commands after the installation:

[2021-09-13 11:53] BenjaminHuang commented on #594
@yue9944882 thanks for the reply,  apiserver-gen can help to generate skaffold code for custom-apiserver, can it be replaced by other tools?

[2021-09-13 15:29] yue9944882 commented on #594
@BenjaminHuang yes if [conversion-gen|defaulter-gen|openapi-gen] is what you're looking for, you can take a stab at the apiserver-runtime-gen. which is a minimal code generator binary for simplifying the generator's usage:

https://github.com/kubernetes-sigs/apiserver-runtime/tree/main/tools/apiserver-runtime-gen

https://github.com/kubernetes-sigs/apiserver-runtime/blob/0663f60bfee284972294f7d00f

[2021-09-13 15:41] BenjaminHuang commented on #594
Thanks again for the reply. It's good to see that apiserver-builder reincarnate as apiserver-runtime. I can't wait to give it a try 💯

[2021-09-14 03:27] BenjaminHuang commented on #594
suggest migrating apiregister-gen to apiserver-runtime

[2021-09-15 22:02] #572 closed

[2021-09-15 22:02] #590 closed

[2021-09-15 22:07] drewwells opened #602 "Project no longer builds based on install instructions"
[code]

latest, which defaults to very old last tagged release does this
[code]

[2021-09-15 22:19] drewwells commented on #602
Running as a standalone module does install correctly.

[code]

[2021-09-17 08:14] oldfo4 opened #603 "How to make the addon apiserver authentication and authonrization in local"
I want to use this addon apiserver to run standalone and don't delegate the authentication and authonrization to the main kube-apiserver. When i'm start the apiserver with this:
`./bin/my-apiserver

--etcd-servers=http://127.0.0.1:12379
--secure-port=19443
--insecure-port=18090
--insecure-bind-address=10.182.34.225
--delegated-auth=false
--client-ca-file=/root/go_workspace/src/apiserver-demo/pki/c

[2021-09-22 06:07] Nebulazhang opened #604 "`apiserver-boot build executables` didn't call "make generate" in v2.0.0-beta.0 release on Mac"
`apiserver-boot build executables` didn't call `make generate` in v2.0.0-beta.0 release on mac.
I need ```make generate``` before  ```apiserver-boot build executables```

[2021-09-26 20:06] #586 closed

[2021-10-09 08:20] #593 closed

[2021-11-09 09:39] Cloudzp opened #605 "connect: connection refused"
hello everyone:
  When i use ` apiserver-boot run in-cluster --image=xxx`  deploy my apiserver and controller, and I create my resource after get my resource , sometimes I got an error :
![wecom-temp-6dab24b34aca7265c3fdbd5dd8148dd0](https://user-images.githubusercontent.com/25190767/140898002-d9c2802b-082d-4520-a804-5047275c083f.png)

So I went to find the reason，I found an error. The `Service` h

[2021-11-22 09:42] chenpfeisoo opened #607 "apiserver-boot must be installed using a release tar.gz downloaded from the git repo."
when I use  `go get sigs.k8s.io/apiserver-builder-alpha/cmd/apiserver-boot` install apiserver-boot ,The following errors are encountered:
[code]

[2021-11-23 06:22] chenpfeisoo opened #608 "unknown option -addext"
When I execute cmd `apiserver-boot run in-cluster --image=autotest.xxx.com/skai.io/skai-demo:0.0.1 --name=skai-demo --namespace=default` has OpenSSL error
![image](https://user-images.githubusercontent.com/18147157/142979068-baaf476e-1e5f-4312-b14b-49afb9a89c3f.png)

when I check sourcecode ,I find OpenSSL version not checked in function `createCerts`
![image](https://user-images.githubusercontent

[2021-12-02 16:58] #599 closed

[2021-12-02 20:27] jaredhancock31 commented on #519
can we revive this

[2021-12-03 05:47] clarkmcc commented on #519
@jaredhancock31 This project seems to be unmaintained, I found that https://github.com/kcp-dev/kcp worked as a replacement for this and has the added benefit of working nicely with the kubebuilder project.

[2021-12-07 21:45] jaredhancock31 commented on #519
I'm looking for the basic skeleton required to register an aggregation APIServer which does not require any storage, etcd or otherwise. Previously I was using the generators provided by this project, but now that this and `apiserver-runtime` are not maintained, it's not super obvious to me which pieces need to taped together in order to achieve that. Not seeing any mention of that in the `kcp` pro

[2022-02-09 10:14] Nrehearsal commented on #608
i guess you should update your openssl library```OpenSSL 1.1.1f  31 Mar 2020``` work fine for me

[2022-02-11 03:54] #594 closed

[2022-02-12 23:16] #602 closed

[2022-02-14 09:31] #603 closed

[2022-02-19 06:28] #604 closed

[2022-03-07 07:42] yang-wei commented on #519
You can add `--module-name` for module to work. As instructed in the CLI
[code]

[2022-03-08 05:32] #605 closed

[2022-03-23 13:05] seamaner opened #609 "How to generate Java/C client code"
The client code generated by default is go. Is it possible to generate clients of Java and c?

[2022-04-02 04:18] vicehunter commented on #569
can you share you solution？

[2022-04-21 10:34] #607 closed

[2022-06-22 16:22] zhenkuang opened #633 "v1.23.0 can not build generate client sdk"
v1.23.0 can not spport the commend "apiserver-boot build generate" to generate client sdk

[2022-07-09 11:45] #608 closed

[2022-08-20 14:52] #609 closed

[2022-09-05 06:37] halfcrazy opened #641 "Why build docs is not functionally available？"
https://github.com/kubernetes-sigs/apiserver-builder-alpha/blame/10fd7787bf5cd756c4eb452d7767815ccb4a90b7/pkg/boot/build/docs.go#L112-L116

[code]

[2022-09-06 07:14] AsterNighT commented on #585
@raffaelespazzoli  can you share your solution? I got 404 and 403 exactly the same way you did.

[2022-10-21 08:41] nehatomar12 opened #642 "How to pass queryParameter for ArbitrarySubResource"
I am following this example: https://github.com/kubernetes-sigs/apiserver-builder-alpha/blob/4ce7d546929b78e7f854311ae16db1c2ee82624c/example/basic/pkg/apis/miskatonic/v1beta1/university_campus.go

I want to pass some queryParameter to /universities/campus?test=abc

How can I do that?
for Connector based subResource we have https://pkg.go.dev/sigs.k8s.io/apiserver-runtime/pkg/builder/resource#Quer

[2022-11-19 17:23] #633 closed, assigned to nobody

[2022-11-22 09:09] rohantmp commented on #296
Hi, what does this mean?